
/*
██████████████████████████████████████████████████████████████
█────███───██───██────██────██───██────██───██───██────██─██─█
█─██──██─████─████─██─██─██─███─███─██─███─████─███─██─██──█─█
█─██──██───██───██─█████────███─███────███─████─███─██─██─█──█
█─██──██─██████─██─██─██─█─████─███─██████─████─███─██─██─██─█
█────███───██───██────██─█─███───██─██████─███───██────██─██─█
██████████████████████████████████████████████████████████████
*/

.about-description .cj-container {
	padding-left: 0;
	height: inherit;
	padding-top: 80px;
	padding-bottom: 80px;
	margin:auto;
}

.about-description article {
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	font-size: 17px;
	font-family: 'HELVETICAMEDIUM';
}

.about-description article h2.section-header {
	padding-bottom: 20px;
}

.about-description article p {
	padding-bottom: 40px;
}

/*
███████████████████████████████████████████████
█───██─█─██────████████───██───██───██─████───█
█─████─█─██─██──████████─████─████─███─████─███
█───██─█─██────███───███─████─████─███─████───█
███─██─█─██─██──████████─████─████─███─████─███
█───██───██────█████████─███───███─███───██───█
███████████████████████████████████████████████
*/

.about-sub-title {
	height: 500px;
    overflow: hidden;
}

.about-sub-title .cover-bg img {
	margin-top: 8%;
}

@media all and (max-width: 1118px) {

	.about-sub-title {
		height: 440px;
	}
}

@media all and (max-width: 990px) {

	.about-sub-title {
		height: 390px;
	}
}

@media all and (max-width: 876px) {

	.about-sub-title {
		height: 340px;
	}
}		

@media all and (max-width: 743px) {

	.about-sub-title {
		height: 280px;
	}
}

@media all and (max-width: 680px){
	.about-sub-title {
		height: 240px;
	}

}

@media all and (max-width: 435px){
	.about-sub-title {
		height: 170px;
	}
}

@media all and (max-width: 323px){
	.about-sub-title {
		height: 100px;
	}
}

.about-sub-title .cj-container {
	position: relative;
	padding-left: 0;
	background: transparent;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 100%;
    overflow: hidden;
    margin:auto;
}

.about-sub-title .cover-bg {
	position: absolute;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/overlay.png');
	z-index: 4;
	overflow: hidden;
}

.about-sub-title .about-video {
	position: absolute;
	top: -20%;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/about-sub-title-bg.png');
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 0;
}


@media all and (max-width: 1024px) {

	.about-sub-title .cover-bg img {
		width: 40%;
		margin:8% auto 0;
	}
}



/*
███████████████████████
█───██───██────██─███──█
██─███─████─██─██──█───█
██─███───██────██─█─█──█
██─███─████─██─██─███──█
██─███───██─██─██─███──█
███████████████████████
*/

.about-team .cj-container {
	padding-left: 0;
	padding: 120px 0;
	margin:auto;
}

.about-team .section-header {
	margin: 0 5% 60px;
}

.team-members {
	overflow: hidden;
}

.team-member {
	margin-bottom: 70px;
}

.team-member img {
	display: block;
	width: 300px;
	height: 300px;
	margin: 0 auto 30px;
}

.member-name {
	width: 300px;
	margin: 0 auto 20px;
	font-size: 26px;
	line-height: 25px;
	font-family: 'Helvetica Neue Cyr Bold';
}

.member-position {
	width: 300px;
	margin: 0 auto 30px;
	font-size: 24px;
	line-height: 24px;
	font-family: 'HELVETICAMEDIUM';
}

.team-member article {
	width: 300px;
	margin: auto;
	font-size: 17px;
	line-height: 19px;
	font-family: 'HELVETICAMEDIUM';
	text-align: justify;
}

.row.team-members {
    margin-right: 0;
    margin-left: 0;
}