
/*
█████████████████████████
█───██───██───██─████───█
██─████─████─███─████─███
██─████─████─███─████───█
██─████─████─███─████─███
██─███───███─███───██───█
█████████████████████████
*/

.about-title {
	height: 350px;
	width: 100%;
	background-image: url('../img/mask.png');
	-webkit-background-size: cover;
	background-size: cover;
}

.about-title .cj-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: transparent;
	padding-left: 0;
	height: inherit;
}

.about-title h1 {
	background-color: transparent;
	color: #fff;
	font-size: 38px;
	font-family: 'Helvetica Neue Cyr Bold';
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 50px;
}

.breadcrumbs {
	margin-left: 5%;
	margin-right: 5%;
	background-color: #fff;
	margin-bottom: 0;
	height: 100px;
}

.breadcrumbs li {
	display: inline-block;
	line-height: 100px;
	margin: 0 15px;
}

.breadcrumbs li a {
	position: relative;
	font-size: 12px;
	color: #000;
	font-family: 'Helvetica Neue Cyr Bold';
	text-decoration: none;
}

.breadcrumbs li a:after {
	content: '>';
	position: absolute;
	top: -43px;
    right: -20px;
	height: 10px;
}

.breadcrumbs li:last-child a:after {
	display: none;
}

/*
██████████████████████████████████████████████████████████████
█────███───██───██────██────██───██────██───██───██────██─██─█
█─██──██─████─████─██─██─██─███─███─██─███─████─███─██─██──█─█
█─██──██───██───██─█████────███─███────███─████─███─██─██─█──█
█─██──██─██████─██─██─██─█─████─███─██████─████─███─██─██─██─█
█────███───██───██────██─█─███───██─██████─███───██────██─██─█
██████████████████████████████████████████████████████████████
*/

.about-description .cj-container {
	padding-left: 0;
	height: inherit;
	padding-top: 80px;
	padding-bottom: 80px;
}

.about-description article {
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	font-size: 20px;
	font-family: 'HELVETICAMEDIUM';
}

/*
███████████████████████████████████████████████
█───██─█─██────████████───██───██───██─████───█
█─████─█─██─██──████████─████─████─███─████─███
█───██─█─██────███───███─████─████─███─████───█
███─██─█─██─██──████████─████─████─███─████─███
█───██───██────█████████─███───███─███───██───█
███████████████████████████████████████████████
*/

.about-sub-title {
	background-image: url('../img/about-sub-title-bg.png');
	-webkit-background-size: cover;
	background-size: cover;
	height: 650px;
	width: 100%;
}

.about-sub-title .cover-bg {
	width: inherit;
	height: inherit;
	background-image: url('../img/overlay.png');
}

.about-sub-title .cj-container {
	padding-left: 0;
	background: transparent;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*
███████████████████████
█───██───██────██─███──█
██─███─████─██─██──█───█
██─███───██────██─█─█──█
██─███─████─██─██─███──█
██─███───██─██─██─███──█
███████████████████████
*/

.about-team .cj-container {
	padding-left: 0;
	padding: 120px 0;
}

.about-team .section-header {
	margin: 0 5% 60px;
}

.team-members {
	overflow: hidden;
}

.team-member {
	margin-bottom: 70px;
}

.team-member img {
	display: block;
	width: 300px;
	height: 300px;
	margin: 0 auto 30px;
}

.member-name {
	width: 300px;
	margin: 0 auto 20px;
	font-size: 26px;
	line-height: 25px;
	font-family: 'Helvetica Neue Cyr Bold';
}

.member-position {
	width: 300px;
	margin: 0 auto 30px;
	font-size: 24px;
	line-height: 24px;
	font-family: 'HELVETICAMEDIUM';
}

.team-member article {
	width: 300px;
	margin: auto;
	font-size: 20px;
	line-height: 23px;
	font-family: 'HELVETICAMEDIUM';
}

.row.team-members {
    margin-right: 0;
    margin-left: 0;
}

/*
███████████████████████████
█─████───██─██─██─██─██───█
█─█████─███──█─██─█─███─███
█─█████─███─█──██──████───█
█─█████─███─██─██─█─█████─█
█───██───██─██─██─██─██───█
███████████████████████████
*/

.about-links .cj-container {
	padding-left: 0;
}

.about-links .links-container {
	padding: 0 5% 90px;
}

.about-links .links-container {
	display: flex;
	justify-content: space-around;
}

.about-links .links-container a {
	display: block;
	height: inherit;
	width: 100%;
	line-height: 300px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-family: 'Helvetica Neue Cyr Bold';
	font-size: 40px;
	background-color: rgba( 0, 0, 0, 0.8);
}

.about-projects-service {
	background-image: url('../img/sistema-de-gestao.png');
}

.about-projects-link {
	background: url('../img/global-business.jpg') 100% 100%;
}

.about-projects-service,
.about-projects-link {
	height: 300px;
	width: 45%;
	background-blend-mode: multiply;
	-webkit-background-size: cover;
	background-size: cover;

}