@media all and (max-width: 680px){

}

@media all and (max-width: 1024px){

}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    background-color: #FAFAFA !important;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.background-color-grey {
    background-color: #fcfcfc !important;
}

#preloader {
    width: 100%; 
    height: 1000px; 
    position: fixed; 
    background-color: #fff; 
    top:0; 
    left: 0; 
    z-index: 999;
}

.cj-container {
    width: 100%;
    background-color: #fff;
}

@media all and (min-width: 1400px) {
    .cj-container {
        width: 1400px;
    }
}

.section-header {
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    height: 18px;
    line-height: 20px;
    border-left: 4px #e30808 solid;
    font-family: 'Helvetica Neue Cyr Bold';
}

.cj-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cj-btn {
    margin: 30px 0;
}

.cj-btn span {
    display: block;
    width: 182px;
    height: 52px;
    color: #000;
    background-color: #fff;
    border-radius: 35px;
    text-align: center;
    line-height: 52px;
    font-size: 17px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'Helvetica Neue Cyr Bold';
}

.cj-btn:hover {
    text-decoration: none;
}

.cj-btn span:hover {
    background-color: transparent;
    color: #fff;
}

.cj-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 190px;
    height: 60px;
    border-radius: 35px;
    background: rgba(176, 0, 11, 1);
    background: -moz-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -o-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -ms-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: linear-gradient(to right, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(176, 0, 11, 1)), color-stop(100%, rgba(246, 41, 12, 1)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0000b', endColorstr='#f6290c', GradientType=1);
}

.shadow-wrapper {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


/*
█████████████████████████████████████████████████████
█────██────██────██───███████───██───██───██─████───█
█─██─██─██─██─█████─██████████─████─████─███─████─███
█────██────██─█──██───██───███─████─████─███─████───█
█─█████─██─██─██─██─██████████─████─████─███─████─███
█─█████─██─██────██───████████─███───███─███───██───█
█████████████████████████████████████████████████████
*/

.page-title {
    margin-top: 100px;
    height: 500px;
    width: 100%;
}

.about-title-bg {
    background: url('../img/pages/about-title-bg.jpg')100% 72% no-repeat;
    background-size: cover; 
}

.services-title-bg {
    background: url('../img/pages/DSC_3272.jpg')100% 59% no-repeat;
    background-size: cover; 
}

.page-title .cj-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: transparent;
    padding-left: 0;
    height: inherit;
    margin:auto;
}

.page-title h1 {
    background-color: transparent;
    color: #fff;
    font-size: 38px;
    font-family: 'Helvetica Neue Cyr Bold';
    margin-left: 15px;
    margin-right: 5%;
    margin-bottom: 180px;
    padding-left: 3%;
}

.page-titke-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 500px;
    width: 100%;
}

@media all and (max-width: 1400px){
    .page-title h1 {
        margin-left: 5%;
    }
}

/*
███████████████████████████████████████████████████████████████████
█────███────██───██────██────███────██────██─█─██─███──█────███───█
█─██──██─██─██─████─██─██─██──██─██─██─██─██─█─██──█───█─██──██─███
█────███────██───██────██─██──██─█████────██─█─██─█─█──█────███───█
█─██──██─█─███─████─██─██─██──██─██─██─█─███─█─██─███──█─██──████─█
█────███─█─███───██─██─██────███────██─█─███───██─███──█────███───█
███████████████████████████████████████████████████████████████████
*/

.breadcrumbs {
    background-color: #fcfcfc;
    margin-bottom: 0;
    height: 100px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 0;
    margin-right: 0;
}

.breadcrumbs li {
    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
}

.breadcrumbs li a {
    position: relative;
    font-size: 12px;
    color: #000;
    font-family: 'Helvetica Neue Cyr Bold';
    text-decoration: none;
}

.breadcrumbs li:last-child a {
    color: #999;
}

.breadcrumbs li a:after {
    content: "";
    position: absolute;
    background: url('../img/breadcrump-arrow-right.png');
    -webkit-background-size: 100%;
    background-size: 100%;
    display: block;
    width: 11px;
    top: 0;
    right: -23px;
    height: 10px;
}

.breadcrumbs li:last-child a:after {
    display: none;
}

@media all and (max-width: 1400px){
    .breadcrumbs {
        padding-left: 3%;
        padding-right: 5%;
        margin-left: 50px;
        margin-right: 50px;
    }
}



/*
████████████████████████████████████████████████████████████████████
█────███────██───██───██────██─███──██████─████───██─██─██─██─██───█
█─██──██─██─███─████─███─██─██──█───██████─█████─███──█─██─█─███─███
█────███─██─███─████─███─██─██─█─█──█───██─█████─███─█──██──████───█
█─██──██─██─███─████─███─██─██─███──██████─█████─███─██─██─█─█████─█
█────███────███─████─███────██─███──██████───██───██─██─██─██─██───█
████████████████████████████████████████████████████████████████████
*/

.bottom-links .cj-container {
    padding-left: 0;
    margin:auto;
}

.bottom-links-container {
    display: flex;
    justify-content: space-around;
    padding: 120px 5%;
}

.link-item-wrapper {
    position: relative;
    height: 300px;
    width: 45%;
    overflow: hidden;
}

.link-item-wrapper a {
    display: block;
    position: absolute;
    height: inherit;
    width: 100%;
    line-height: 300px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-family: 'Helvetica Neue Cyr Bold';
    text-transform: uppercase;
      -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.bottom-links-container a span {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: rgba( 0, 0, 0, 0.5);
    z-index: 2;
}

.bottom-links-container a img {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.bottom-links-container a:hover {
    text-decoration: none;    
    color: #fff;
}

.link-item-wrapper a:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}



.services-link {
    background-image: url('../img/DSC_3272.jpg');
}

.projects-link {
    background-image: url('../img/DSC_3244.jpg');
}

.about-link {
    background: url('../img/about-title-bg.jpg')  48% 24%;
}

@media all and (max-width: 1024px){
    
    .bottom-links-container a {
        line-height: 150px;
    }

    .services-link,
    .projects-link {
        height: 150px;
    }
}

@media all and (max-width: 680px){

    .bottom-links-container a {
        line-height: 100px;
        font-size: 20px;
    }

    .bottom-links-container a img{
        width: 30px;
    }

    .services-link,
    .projects-link {
        height: 100px;
    }

    .bottom-links-container {
        padding: 0 2% 60px;
    }

    .bottom-links-container a img {
        margin-bottom: -10px;
    }

    .bottom-links-container a img.left-bottom-link-arrow{
        margin-bottom: -8px;
    }

}

