@media all and (max-width: 680px){

}

@media all and (max-width: 1024px){

}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    background-color: #FAFAFA !important;
    font-family: 'Jaldi', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.background-color-grey {
    background-color: #fcfcfc !important;
}

#preloader {
    width: 100%; 
    height: 1000px; 
    position: fixed; 
    background-color: #fff; 
    top:0; 
    left: 0; 
    z-index: 999;
}

.cj-container {
    width: 100%;
    background-color: #fff;
}

@media all and (min-width: 1400px) {
    .cj-container {
        width: 1400px;
    }
}

.section-header {
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    height: 18px;
    line-height: 20px;
    border-left: 4px #e30808 solid;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-weight: 700;
}

.cj-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cj-btn {
    margin: 30px 0;
}

.cj-btn span {
    display: block;
    width: 182px;
    height: 52px;
    color: #000;
    background-color: #fff;
    border-radius: 35px;
    text-align: center;
    line-height: 52px;
    font-size: 17px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
}

.cj-btn:hover {
    text-decoration: none;
}

.cj-btn span:hover {
    background-color: transparent;
    color: #fff;
}

.cj-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 190px;
    height: 60px;
    border-radius: 35px;
    background: rgba(176, 0, 11, 1);
    background: -moz-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -o-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -ms-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: linear-gradient(to right, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(176, 0, 11, 1)), color-stop(100%, rgba(246, 41, 12, 1)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0000b', endColorstr='#f6290c', GradientType=1);
    font-weight: 700;
}

.shadow-wrapper {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


/*
█████████████████████████████████████████████████████
█────██────██────██───███████───██───██───██─████───█
█─██─██─██─██─█████─██████████─████─████─███─████─███
█────██────██─█──██───██───███─████─████─███─████───█
█─█████─██─██─██─██─██████████─████─████─███─████─███
█─█████─██─██────██───████████─███───███─███───██───█
█████████████████████████████████████████████████████
*/

.page-title {
    margin-top: 100px;
    height: 500px;
    width: 100%;
}

.about-title-bg {
    background: url('../img/pages/about-title-bg.jpg')100% 72% no-repeat;
    background-size: cover; 
}

.services-title-bg {
    background: url('../img/pages/DSC_3272.jpg')100% 53% no-repeat;
    background-size: cover; 
}

.contacts-title-bg {
    background: url('../img/pages/DSC_3331.jpg')100% 53% no-repeat;
    background-size: cover; 
}

.page-title .cj-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: transparent;
    padding-left: 0;
    height: inherit;
    margin:auto;
}

.page-title h1 {
    background-color: transparent;
    color: #fff;
    font-size: 45px;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    margin-left: 15px;
    margin-right: 5%;
    margin-bottom: 180px;
    padding-left: 3%;
    font-weight: 700;
}

.page-titke-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 500px;
    width: 100%;
}

@media all and (max-width: 1400px){
    .page-title h1 {
        margin-left: 5%;
    }
}

/*
███████████████████████████████████████████████████████████████████
█────███────██───██────██────███────██────██─█─██─███──█────███───█
█─██──██─██─██─████─██─██─██──██─██─██─██─██─█─██──█───█─██──██─███
█────███────██───██────██─██──██─█████────██─█─██─█─█──█────███───█
█─██──██─█─███─████─██─██─██──██─██─██─█─███─█─██─███──█─██──████─█
█────███─█─███───██─██─██────███────██─█─███───██─███──█────███───█
███████████████████████████████████████████████████████████████████
*/

.breadcrumbs {
    background-color: #fcfcfc;
    margin-bottom: 0;
    height: 100px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 0;
    margin-right: 0;
}

.breadcrumbs li {
    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
}

.breadcrumbs li a {
    position: relative;
    font-size: 12px;
    color: #000;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    text-decoration: none;
}

.breadcrumbs li:last-child a {
    color: #999;
}

.breadcrumbs li a:after {
    content: "";
    position: absolute;
    background: url('../img/breadcrump-arrow-right.png');
    -webkit-background-size: 100%;
    background-size: 100%;
    display: block;
    width: 11px;
    top: 0;
    right: -23px;
    height: 10px;
}

.breadcrumbs li:last-child a:after {
    display: none;
}

@media all and (max-width: 1400px){
    .breadcrumbs {
        padding-left: 3%;
        padding-right: 5%;
        margin-left: 50px;
        margin-right: 50px;
    }
}



/*
████████████████████████████████████████████████████████████████████
█────███────██───██───██────██─███──██████─████───██─██─██─██─██───█
█─██──██─██─███─████─███─██─██──█───██████─█████─███──█─██─█─███─███
█────███─██─███─████─███─██─██─█─█──█───██─█████─███─█──██──████───█
█─██──██─██─███─████─███─██─██─███──██████─█████─███─██─██─█─█████─█
█────███────███─████─███────██─███──██████───██───██─██─██─██─██───█
████████████████████████████████████████████████████████████████████
*/

.bottom-links .cj-container {
    padding-left: 0;
    margin:auto;
}

.bottom-links-container {
    display: flex;
    justify-content: space-around;
    padding: 120px 5%;
}

.link-item-wrapper {
    position: relative;
    height: 300px;
    width: 45%;
    overflow: hidden;
}

.link-item-wrapper a {
    display: block;
    position: absolute;
    height: inherit;
    width: 100%;
    line-height: 300px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    text-transform: uppercase;
      -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.bottom-links-container a span {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: rgba( 0, 0, 0, 0.5);
    z-index: 2;
}

.bottom-links-container a img {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.bottom-links-container a:hover {
    text-decoration: none;    
    color: #fff;
}

.link-item-wrapper a:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}



.services-link {
    background-image: url('../img/DSC_3272.jpg');
}

.projects-link {
    background-image: url('../img/DSC_3244.jpg');
}

.about-link {
    background: url('../img/about-title-bg.jpg')  48% 24%;
}

@media all and (max-width: 1024px){
    
    .bottom-links-container a {
        line-height: 150px;
    }

    .services-link,
    .projects-link {
        height: 150px;
    }
}

@media all and (max-width: 680px){

    .bottom-links-container a {
        line-height: 100px;
        font-size: 20px;
    }

    .bottom-links-container a img{
        width: 30px;
    }

    .services-link,
    .projects-link {
        height: 100px;
    }

    .bottom-links-container {
        padding: 0 2% 60px;
    }

    .bottom-links-container a img {
        margin-bottom: -10px;
    }

    .bottom-links-container a img.left-bottom-link-arrow{
        margin-bottom: -8px;
    }

}




/*
██████████████████████████████
█───██─██─██────███───██──█──█
██─███──█─██─██──██─█████───██
██─███─█──██─██──██───████─███
██─███─██─██─██──██─█████───██
█───██─██─██────███───██──█──█
██████████████████████████████
*/


/*
============================================
███──███──███──█────███
─█────█────█───█────█
─█────█────█───█────███
─█────█────█───█────█
─█───███───█───███──███
============================================
*/

.home-title {
    position: relative;
    width: 100%;
    height: 500px;
    margin:auto;
}

.home-title .cj-container {
    background-color: inherit;
    margin: auto;
}

.home-title-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
}

#js-background-renderer {
    height: 380px;
    width: 100%;
}

.home-title-content {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
}

.home-title-content .cj-container {
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    margin:auto;
}

.home-title h1 {
    height: 25%;
    width: 100%;
    font-family: 'Helvetica Neue Cyr Bold';
    z-index: 4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 50px;
    line-height: 60px;
    padding-left: 1%;
}

@media all and (min-width: 999px) {

    .home-title h1 {
        font-size: 55px;
        line-height: 56px;
        text-align: left;
        margin-top: 0%;
        padding-left: 5%;
    }

}

@media all and (min-width: 1500px) {
    .home-title h1 {
        font-size: 60px;
        line-height: 61px;
        text-align: center;
        margin-top: -4%;
        align-items: center;
        padding-left: 2%;
    }
}

.home-title h1 span {
    display: block;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    bottom: 15px;
    margin-top: -25px;
    margin-left: -20px;
    box-shadow: inset 0 0 0 1px #acafb1;
    border-radius: 25px;
    width: 24px;
    height: 39px;
    position: absolute;
    z-index: 5;
    cursor: pointer;
}

.icon-scroll:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #acafb1;
    margin-left: -2px;
    top: 6px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}

@media all and (max-device-width: 768px) {

    .icon-scroll {
        height: 62px;
        border-radius: 4px;
        width: 30px;
    }

    .icon-scroll:after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        margin: 1px auto 0 auto;
        border: 1px solid #acafb1;
        border-radius: 50%;
    }

    .icon-scroll-screen {
          position: relative;
        width: 26px;
        height: 43px;
        margin: 8px auto 0;
        border: 1px solid #acafb1;
    }

    .icon-scroll:before {
        top: 48px;
    }

    @-webkit-keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
        }
    }

    @keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
        }
    }

}

@media all and (max-width: 680px) {

    .home-title h1 {
        font-size: 27px;
        line-height: 30px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-title h1 span {
        text-align: center;
    }

    .icon-scroll {
        height: 62px;
        border-radius: 4px;
        width: 30px;
        margin-left: -12px;
    }

    .icon-scroll:after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        margin: 1px auto 0 auto;
        border: 1px solid #acafb1;
        border-radius: 50%;
    }

    .icon-scroll-screen {
        position: relative;
        width: 26px;
        height: 43px;
        margin: 8px auto 0;
        border: 1px solid #acafb1;
    }

    .icon-scroll:before {
        top: 33px;
    }

    @-webkit-keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
        }
    }

    @keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
        }
    }
}

/*
============================================
████──████───████──█─█──███
█──█──█──██──█──█──█─█───█
████──████───█──█──█─█───█
█──█──█──██──█──█──█─█───█
█──█──████───████──███───█
============================================
*/

.home-about-us .cj-container {
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin: auto;

}

.home-about-us .about-us-content {
    width: 100%;
}

.home-about-us .about-us-slider {
    width: 100%;
    padding-right: 5%;
}

.home-about-us {
    /*font-family: 'HELVETICAMEDIUM';*/
    font-weight: 500;
    font-size: 17px;
    text-align: justify;
}

.about-us-slider-prev img,
.about-us-slider-next img {
    height: 9px;
    width: 5px;
}

.about-us-slider-prev {
    width: 50%;
    display: block;
}

.about-us-slider-next {
    width: 50%;
    display: block;

}

.about-us-slider {
    position: relative;
}

.carousel-item {
    overflow: hidden;
}

.about-us-content {
    padding-top: 7%;
    padding-right: 5%;
}

.about-us-content p {
    font-size: 16px;
    line-height: 26px;
}

#mainSlider {
    height: 450px;
    overflow: hidden;
}

.slide-controls-box {
    display: flex;
    position: absolute;
    width: 120px;
    height: 60px;
    bottom: 0;
    right: 0;
    background-color: #FAFAFA;
    text-align: center;
    line-height: 60px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    visibility: hidden;
}

.home-about-us .cj-btn-container {
    padding-bottom: 30px;
}

.about-us-content .section-header {
    margin-bottom: 50px;
}

@media all and (min-width: 1026px) {

    .home-about-us .cj-container {
        display: flex;
        flex-direction: row;
    }

    .home-about-us .about-us-content {
        width: 50%;
        padding-right: 7%;
    }

    .home-about-us .about-us-slider {
        width: 50%;
        padding-right: 0;
    }

}

@media all and (max-width: 680px) {
    #mainSlider {
        height: auto;
        overflow: hidden;
    }

    .about-us-content .section-header {
        margin-bottom: 25px;
    }

    .home-about-us .cj-container {
        padding-bottom: 80px;
    }

    .home-about-us .cj-btn-container{
       margin-top: 30px; 
    }

    .about-us-content p{
        margin-bottom: 0px;
    }
}

/*
============================================
████──████──█──█──███──███──█─█──███──█───██─███──█──█──███──███
█──█──█──█──█──█───█───█────█─█──█────██─███─█────██─█───█───█
████──█─────████───█───███──█─█──███──█─█─██─███──█─██───█───███
█──█──█──█──█──█───█───█────███──█────█───██─█────█──█───█─────█
█──█──████──█──█──███──███───█───███──█───██─███──█──█───█───███
============================================
*/

.home-projects .cj-container {
    padding-bottom: 40px;
    display: block;
    padding-left: 5%;
    margin: auto;
}

.project-item {
    padding-bottom: 40px;
}

.project-item p {
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-size: 70px;
    line-height: 60px;
    margin-bottom: 0;
    text-align: center;
}

.partner-number-description {
    font-size: 25px;
    padding-left: 5px;
    display: block;
}

.project-items {
    width: 90%;
    padding-left: 1%;
}

p.partners-number-medium {
    font-size: 50px;
    line-height: 50px;
}

.achievements-row {
    margin-bottom: 50px;
}

@media all and (min-width: 720px) {

    .home-projects .section-header {
        margin-bottom: 60px;
    }

    .home-projects .cj-btn {
        margin-top: 60px;
    }

}

@media all and (max-width: 1025px) {
    .project-item-middle {
        border-left: 1px #e1dede solid;
        border-right: 1px #e1dede solid;
    }
}

@media all and (min-width: 1026px) {

    .home-projects .cj-container {
        padding-bottom: 180px;
    }

    .project-item p {
        /*font-family: 'Helvetica Neue Cyr Bold';*/
        font-size: 100px;
        height: 120px;
        line-height: 70px;
        text-align: center;
    }

    p.partners-number-medium {
        font-size: 80px;
        line-height: 70px;
    }

    .partner-number-description {
        font-size: 38px;
    }

    .project-item {
        display: flex;
        flex-direction: column;
        border-top: none;
        padding-bottom: 50px;
    }

    .project-item-middle {
        border-left: 1px #e1dede solid;
        border-right: 1px #e1dede solid;
    }
}

.success-ico-color {
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    background: linear-gradient(90deg, #b0010b 50%, #b0010b 50%, #f8292d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f8292d;
}

.project-item h3 {
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-size: 17px;
    line-height: 80px;
    margin-bottom: 0;
    text-align: center;
}

@media all and (max-width: 680px) {

    .project-item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        padding-top: 15px;
        border-top: #e1dede solid 1px;
        width: 100%;
    }

    .home-projects .cj-container{
       padding-bottom: 30px;
    }

    .home-projects .cj-btn-container{
       margin-top: 30px; 
    }

    .project-item p {
        display: inline-block;
        /*font-family: sans-serif;*/
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 0;
        text-align: center;
        font-weight:100;
    }

    .project-items .col-md-4 {
        padding: 0;
    }

    .project-items .row {
        margin-right: 0;
        margin-left: 0;
    }

    .project-items {
        width: 98%;
        margin-left: 0;
    }

    .project-item h3 {
        font-size: 17px;
        line-height: 25px;
        text-align: center;
        height: 25px;
        margin-bottom: 0;
    }

    .project-item-middle {
        border-left: none;
        border-right: none;
    }

    .partners-number-medium {
        font-size: 25px;
        height: 25px;
    }

    .partners-number-medium span {
        display: inline-block;
        font-size: 19px;
        height: 25px;
        /*font-family: sans-serif;*/
        font-weight: 100;
    }

    .project-item-last {
        border-bottom: #e1dede solid 1px;
    }

}

/*
============================================
█──█──███──█───█──███
██─█──█────█───█──█
█─██──███──█─█─█──███
█──█──█────█████────█
█──█──███───█─█───███
============================================
*/

.home-news .cj-container {
    padding-bottom: 40px;
    padding-left: 5%;
    margin: auto;
}

@media all and (min-width: 720px) {

    .home-news .section-header {
        margin-bottom: 60px;
    }
}

@media all and (min-width: 1025px) {

    .home-news .cj-container {
        padding-bottom: 180px;
    }
}

.news-item {
    display: flex;
    flex-direction: column;
    border-bottom: #e1dede solid 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
     /*font-family: 'Helvetica Neue Cyr Bold';*/
}

.news-item-header {
    display: flex;
    justify-content: center;
}

.news-category-label {
    height: 36px;
    width: 40%;
}

.news-category-label span {
    display: inline-block;
    width: 100px;
    color: #fff;
    padding: 5px 7px;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    border-radius: 25px;
    font-size: 13px;
    text-align: center;
}

.news-date {
    height: 36px;
    line-height: 29px;
    text-align: start;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-size: 13px;
    font-weight: 700;
    width: 60%;
}

.news-title {
    font-size: 15px;
    line-height: 36px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 0;
}

@media all and (min-width: 720px) {

    .news-items {
        width: 93%;
        margin-right: 7%;
        padding-bottom: 60px;
    }

    .news-item {
        flex-direction: row;

    }

    .news-item-header {
        width: 45%;
        align-items: center;
    }

    .news-category-label {
        width: 50%;
        justify-content: start;
    }

    .news-category-label, .news-title, .news-date {

        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .news-category-label span {
        font-size: 13px;
    }

    .news-title {
        justify-content: start;
    }

    .news-item-body {
        width: 55%;
    }

}

@media all and (max-width: 680px) {
    .news-item {
        padding-bottom: 10px;
    }

    .home-news .cj-container {
        padding-bottom: 30px;
    }

    .home-news .cj-btn-container {
        margin-top: 30px;
    }
}

/*
============================================
████──████──████──███──█──█──███──████──███
█──█──█──█──█──█───█───██─█──█────█──█──█
████──████──████───█───█─██──███──████──███
█─────█──█──█─█────█───█──█──█────█─█─────█
█─────█──█──█─█────█───█──█──███──█─█───███
============================================
*/

.home-partners .cj-container {
    padding-bottom: 60px;
    padding-left: 0;
    margin:auto;
}

.home-partners .section-header {
    margin-left: 5%;
}

@media all and (min-width: 720px) {

    .home-partners .section-header {
        margin-left: 5%;
        margin-bottom: 60px;
    }

}

@media all and (min-width: 1025px) {

    .home-partners .cj-container {
        padding-bottom: 180px;
    }

}

/*.partners-carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.partners-next-container,
.partners-prev-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners-next,
.partners-prev {
    width: 51px;
    height: 107px;
    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    cursor: pointer;
}

.partners-prev {
    background: url("../img/partners-prev.png");
    opacity: 0.1;
}

.partners-prev:hover {
    background: url("../img/partners-prev.png");
    opacity: 0.4;
}

.partners-next {
    background: url("../img/partners-next.png");
    opacity: 0.1;
}

.partners-next:hover {
    background: url("../img/partners-next.png");
    opacity: 0.5;
}

.owl-carousel {
    width: 60%;
}

.partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;

}

.partner-item img {
    display: inline-block;
    width: 170px !important;
}

@media all and (min-width: 1025px) {
    .partners-next-container,
    .partners-prev-container {
        width: 5%;
    }

    .partners-next-container img,
    .partners-prev-container img {
        width: 50px;
        cursor: pointer;
    }

    .owl-carousel {
        width: 100%;
    }

    .partner-item {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: auto;
        padding: 30px 20px;
        height: 150px;
    }

    .partner-item img {
        width: 225px !important;
        text-align: center;
    }
}

@media all and (max-width: 680px) {
    .partners-next-container,
    .partners-prev-container{
        display: none;
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }
    .owl-dot{
        background-color: #999 !important;
        width: 10px;
        height: 10px;
        margin: 0 7px;
        border-radius: 30px;
    }

    .owl-dot:focus {
        outline:0;
    }

    .owl-carousel {
        width: 100%;
    }

    button.owl-dot.active{
        background-color: #222 !important;
    }
}

/*
█████████████████████████████████████████████
█────██────██────████──██───██────██───██───█
█─██─██─██─██─██─█████─██─████─██─███─███─███
█────██────██─██─█████─██───██─██████─███───█
█─█████─█─███─██─██─██─██─████─██─███─█████─█
█─█████─█─███────██────██───██────███─███───█
█████████████████████████████████████████████
*/

/*
██████████████████████████████████████████████████████████████████████████████████████████████████████████████████
█────██────██────████──██───██────██───██───███████───██─██─███████─██─██─█─██────███─███──█────███───██────██───█
█─██─██─██─██─██─█████─██─████─██─███─███─██████████─███──█─███████──█─██─█─██─██──██──█───█─██──██─████─██─██─███
█────██────██─██─█████─██───██─██████─███───██───███─███─█──██───██─█──██─█─██────███─█─█──█────███───██────██───█
█─█████─█─███─██─██─██─██─████─██─███─█████─████████─███─██─███████─██─██─█─██─██──██─███──█─██──██─████─█─█████─█
█─█████─█─███────██────██───██────███─███───███████───██─██─███████─██─██───██────███─███──█────███───██─█─███───█
██████████████████████████████████████████████████████████████████████████████████████████████████████████████████
*/
.projects-in-numbers .cj-container {
    padding: 100px 0;
    margin: auto;
}

.projects-in-numbers .section-header {
    margin: 0 5% 60px;
}

/*.projects-wrapper {
    padding: 0 5%;
}

.partners-number-medium {
    font-size: 80px;
}
.partners-number-medium .achivment-amount {

}

.partners-number-large .achivment-amount {
    font-size: 100px;
}

.project {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 250px;
    font-family: 'Helvetica Neue Cyr Bold';
}

.project h3 {
    display: flex;
    justify-content: center;
    height: 80px;
    text-align: center;
}

.project p {
    text-align: center;
}

.project-description {
    display: block;
    font-size: 38px;
    height: 70px;
    line-height: 70px;
}

.middle-project-border {
    border-left: 1px #e1dede solid;
    border-right: 1px #e1dede solid;
}

.partners-number-gradient {
    background: linear-gradient(90deg, #b0010b 50%, #b0010b 50%, #f8292d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f8292d;
}

@media all and (max-width: 767px) {

    .projects-in-numbers .section-header {
        margin: 0 5% 20px;
    }

    .projects-wrapper.row {
        padding-left: calc(5% + 14px);
    }

    .project {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        padding-top: 15px;
        border-top: #e1dede solid 1px;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .project p {
        display: inline-block;
        font-family: sans-serif;
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 0;
        text-align: center;
        font-weight:100;
        height: 25px;
    }

    .project h3 {
        font-size: 17px;
        line-height: 25px;
        text-align: center;
        height: 25px;
        margin-bottom: 0;
    }

    .project-description {
        display: inline-block;
        line-height: 25px;
        font-size: 17px;
    }

    .middle-project-border {
        border-left: none;
        border-right: none;
    }

    .partners-number-medium .achivment-amount {
        font-size: 17px;
        height: 25px;
        line-height: 25px;
    }

    .partners-number-large .achivment-amount {
        height: 25px;
        line-height: 25px;
        font-size: 25px;
    }

    .partners-number-medium .achivment-amount .project-description {
        display: inline-block;
        font-size: 19px;
        height: 25px;
        font-family: sans-serif;
        font-weight: 100;
    }

    .project:last-child {
        border-bottom: #e1dede solid 1px;
    }

}*/


/*
█████████████████████████████████████████████
█────██────██────██───██─██─██───██────██───█
█─██─██─██─██─██─███─███──█─██─████─██─██─███
█────██────██────███─███─█──██───██────██───█
█─█████─██─██─█─████─███─██─██─████─█─█████─█
█─█████─██─██─█─████─███─██─██───██─█─███───█
█████████████████████████████████████████████
*/

.projects-partners .cj-container {
    padding: 0 0 100px;
    margin:auto;
}
.projects-partners {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-partners .section-header {
    margin-bottom: 60px;
    margin-left: 5%;
}

.client-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

/*
██████████████████████████████████████
█────██───██─█─██───██───██─███─██───█
█─██─██─████─█─███─███─████─███─██─███
█────██───██─█─███─███───██─█─█─██───█
█─█─███─████───███─███─████─────████─█
█─█─███───███─███───██───███─█─███───█
██████████████████████████████████████
*/

.clients-reviews {
    position: relative;
    z-index: 1;
}

.clients-reviews .cj-container{
    margin: auto;
    background: #fff;
    padding: 70px 0;
    z-index: 1;
}

.clients-reviews .section-header {
    margin-bottom: 60px;
    margin-left: 5%;
}

.review-item {
    margin-left: 5%;
    padding: 0 10%;
}

.client-review {

    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    text-align: center;
    font-weight: 100;
    padding: 0;
}

.client-info {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 30px 5%;
    font-size: 22px;
    line-height: 28px;
}

.client-photo-wrapper {
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
}

.client-photo-wrapper img {
    width: 100%;
    border-radius: 50%;
}

.client-name, 
.client-position {
    text-align: center;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-size: 18px;
    line-height: 22px;
}

.client-position {
    color: #0da0e3;
    font-size: 16px;
}