@media all and (max-width: 680px){

}

@media all and (max-width: 1024px){

}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    background-color: #FAFAFA !important;
    font-family: 'Jaldi', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.background-color-grey {
    background-color: #fcfcfc !important;
}

#preloader {
    width: 100%; 
    height: 1000px; 
    position: fixed; 
    background-color: #fff; 
    top:0; 
    left: 0; 
    z-index: 999;
}

.cj-container {
    width: 100%;
    background-color: #fff;
}

@media all and (min-width: 1400px) {
    .cj-container {
        width: 1400px;
    }
}

.section-header {
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    height: 18px;
    line-height: 20px;
    border-left: 4px #e30808 solid;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-weight: 700;
}

.cj-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cj-btn {
    margin: 30px 0;
}

.cj-btn span {
    display: block;
    width: 182px;
    height: 52px;
    color: #000;
    background-color: #fff;
    border-radius: 35px;
    text-align: center;
    line-height: 52px;
    font-size: 17px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
}

.cj-btn:hover {
    text-decoration: none;
}

.cj-btn span:hover {
    background-color: transparent;
    color: #fff;
}

.cj-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 190px;
    height: 60px;
    border-radius: 35px;
    background: rgba(176, 0, 11, 1);
    background: -moz-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -o-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -ms-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: linear-gradient(to right, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(176, 0, 11, 1)), color-stop(100%, rgba(246, 41, 12, 1)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0000b', endColorstr='#f6290c', GradientType=1);
    font-weight: 700;
}

.shadow-wrapper {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



.page-main-heading {
    margin-bottom: 30px;
    font-size: 28px;
    height: 18px;
    line-height: 20px;
    text-align: center;
}

/*
█████████████████████████████████████████████████████
█────██────██────██───███████───██───██───██─████───█
█─██─██─██─██─█████─██████████─████─████─███─████─███
█────██────██─█──██───██───███─████─████─███─████───█
█─█████─██─██─██─██─██████████─████─████─███─████─███
█─█████─██─██────██───████████─███───███─███───██───█
█████████████████████████████████████████████████████
*/

.page-title {
    margin-top: 100px;
    height: 500px;
    width: 100%;
}

.about-title-bg {
    background: url('../img/pages/about-title-bg.jpg')100% 72% no-repeat;
    background-size: cover; 
}

.services-title-bg {
    background: url('../img/pages/DSC_3272.jpg')100% 53% no-repeat;
    background-size: cover; 
}

.contacts-title-bg {
    background: url('../img/pages/DSC_3331.jpg')100% 53% no-repeat;
    background-size: cover; 
}

.page-title .cj-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: transparent;
    padding-left: 0;
    height: inherit;
    margin:auto;
}

.page-title h1 {
    background-color: transparent;
    color: #fff;
    font-size: 45px;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    margin-left: 15px;
    margin-right: 5%;
    margin-bottom: 180px;
    padding-left: 3%;
    font-weight: 700;
}

.page-titke-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 500px;
    width: 100%;
}

@media all and (max-width: 1400px){
    .page-title h1 {
        margin-left: 5%;
    }
}

/*
███████████████████████████████████████████████████████████████████
█────███────██───██────██────███────██────██─█─██─███──█────███───█
█─██──██─██─██─████─██─██─██──██─██─██─██─██─█─██──█───█─██──██─███
█────███────██───██────██─██──██─█████────██─█─██─█─█──█────███───█
█─██──██─█─███─████─██─██─██──██─██─██─█─███─█─██─███──█─██──████─█
█────███─█─███───██─██─██────███────██─█─███───██─███──█────███───█
███████████████████████████████████████████████████████████████████
*/

.breadcrumbs {
    background-color: #fcfcfc;
    margin-bottom: 0;
    height: 100px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 0;
    margin-right: 0;
}

.breadcrumbs li {
    display: inline-block;
    line-height: 100px;
    margin: 0 15px;
}

.breadcrumbs li a {
    position: relative;
    font-size: 12px;
    color: #000;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    text-decoration: none;
}

.breadcrumbs li:last-child a {
    color: #999;
}

.breadcrumbs li a:after {
    content: "";
    position: absolute;
    background: url('../img/breadcrump-arrow-right.png');
    -webkit-background-size: 100%;
    background-size: 100%;
    display: block;
    width: 11px;
    top: 5px;
    right: -23px;
    height: 10px;
}

.breadcrumbs li:last-child a:after {
    display: none;
}

@media all and (max-width: 1400px){
    .breadcrumbs {
        padding-left: 3%;
        padding-right: 5%;
        margin-left: 50px;
        margin-right: 50px;
    }
}



/*
████████████████████████████████████████████████████████████████████
█────███────██───██───██────██─███──██████─████───██─██─██─██─██───█
█─██──██─██─███─████─███─██─██──█───██████─█████─███──█─██─█─███─███
█────███─██─███─████─███─██─██─█─█──█───██─█████─███─█──██──████───█
█─██──██─██─███─████─███─██─██─███──██████─█████─███─██─██─█─█████─█
█────███────███─████─███────██─███──██████───██───██─██─██─██─██───█
████████████████████████████████████████████████████████████████████
*/

.bottom-links .cj-container {
    padding-left: 0;
    margin:auto;
}

.bottom-links-container {
    display: flex;
    justify-content: space-around;
    padding: 120px 5%;
}

.link-item-wrapper {
    position: relative;
    height: 300px;
    width: 45%;
    overflow: hidden;
}

.link-item-wrapper a {
    display: block;
    position: absolute;
    height: inherit;
    width: 100%;
    line-height: 300px;
    text-align: center;
    font-size: 40px;
    color: #fff;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    text-transform: uppercase;
      -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

.bottom-links-container a span {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: rgba( 0, 0, 0, 0.5);
    z-index: 2;
}

.bottom-links-container a img {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.bottom-links-container a:hover {
    text-decoration: none;    
    color: #fff;
}

.link-item-wrapper a:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}



.services-link {
    background-image: url('../img/DSC_3272.jpg');
}

.projects-link {
    background-image: url('../img/DSC_3244.jpg');
}

.about-link {
    background: url('../img/about-title-bg.jpg')  48% 24%;
}

@media all and (max-width: 1024px){
    
    .bottom-links-container a {
        line-height: 150px;
    }

    .services-link,
    .projects-link {
        height: 150px;
    }
}

@media all and (max-width: 680px){

    .bottom-links-container a {
        line-height: 100px;
        font-size: 20px;
    }

    .bottom-links-container a img{
        width: 30px;
    }

    .services-link,
    .projects-link {
        height: 100px;
    }

    .bottom-links-container {
        padding: 0 2% 60px;
    }

    .bottom-links-container a img {
        margin-bottom: -10px;
    }

    .bottom-links-container a img.left-bottom-link-arrow{
        margin-bottom: -8px;
    }

}


/*
█████████████████████████████████
█───██────██────██───██───██────█
█─████─██─██─██─███─███─████─██─█
█───██─██─██─██─███─███───██────█
█─████─██─██─██─███─███─████─█─██
█─████────██────███─███───██─█─██
█████████████████████████████████
*/


.footer-container{
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}
.footer-connect-us{
    display: inline-block;
    margin-top: 15px;
    font-size: 25px;
    color: #fff;
    opacity: 0.5;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-family: 'Jaldi', sans-serif;
}

@media all and (min-width: 1400px){
    .footer-container {
        width: 1400px;
        margin:auto;
    }
}

.copyright{
    font-size: 14px;
    margin-bottom: 15px;
    color:#fff;
    text-align: center;
    opacity: 0.4;
     /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-family: 'Jaldi', sans-serif;
}
.social-links{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top:15px;
    padding-bottom: 15px;
}
.social-links a{
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    width: 33px;
    height: 33px;
        background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.twitter-icon{
    background: #000 url('../img/twitter-active.png') 100% 100%;
    opacity: .4;

}
.twitter-icon:hover{
    background: url('../img/twitter-active.png') 100% 100%;
    opacity: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.telegram-icon{
  background: #000 url('../img/telegram-active.png') 100% 100%;
  opacity: .4;

}
.telegram-icon:hover{
    background: url('../img/telegram-active.png') 100% 100%;
    opacity: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.fb-icon{
  background: #000 url('../img/facebook-active.png') 100% 100%;
  opacity: .4;

}
.fb-icon:hover{
    background: url('../img/facebook-active.png') 100% 100%;
    opacity: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.youtube-icon{
  background: #000 url('../img/youtube-active.png') 100% 100%;
  opacity: .4;
}
.youtube-icon:hover{
    background: url('../img/youtube-active.png') 100% 100%;
    opacity: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

@media all and (max-width: 999px){

    .footer-connect-us{
        display: none;
    }
}

.footer-go-to-top{
    display: none !important;
    position: absolute;
    right: 10px;
    width: 50px;
    height: 29px;
    padding-top:32px;
    cursor: pointer;
}
.footer-go-to-top img{
    height:29px;
}


@media all and (max-width: 1098px){
    .footer-go-to-top{
        display: block !important;
    }

}

/*
███████████████████████████████████
█─██─██───██────██────███───██────█
█─██─██─████─██─██─██──██─████─██─█
█────██───██────██─██──██───██────█
█─██─██─████─██─██─██──██─████─█─██
█─██─██───██─██─██────███───██─█─██
███████████████████████████████████
*/

.logo img{
    width: 180px;
}

.header{
    z-index: 998;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    height: 70px;
    background-color: #FAFAFA ;
}

.header-container{
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 1024px){
    .header{
        height: 100px;
        background-color: #fff;
    }
    .header-container{
        width: 100%;
        padding: 0 3%
    }
}

@media all and (min-width: 1400px){
    .header-container {
        width: 1400px;
        margin:auto;
    }
}


.logo{
    margin-left: 20px;
}

.menu-control{
    margin-right: 20px;
}

.header-controls-title{
    margin-top: 40px;
}

.home-navigation{
    position: absolute;
}

.header-navigation a{
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-family: 'Jaldi', sans-serif;
    font-size: 18px;
}

.header-languages{
    margin-bottom: 40px;
}

.header-languages a {
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-family: 'Jaldi', sans-serif;
    /*font-weight: 700;*/
}

.menu-control{
    z-index: 100;
    float: right;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 30px;
    height: 25px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background-color: transparent;
}

.menu-control span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 18px;
    height: 2px;
    width: 100%;

}
.external span{
    background-color: #000;
}
.internal span{
    background-color: #fff;
}
.menu-control span::before,
.menu-control span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
}
.external span::before,
.external span::after{
    background-color: #000;
}
.internal span::before,
.internal span::after{
    background-color: #fff;
}

.menu-control span::before {
    top: 8px;
}
.menu-control span::after {
    bottom: -16px;
}
.menu-control span {
    -webkit-transition: background 0 0.3s;
    transition: background 0 0.3s;
}
.menu-control span::before,
.menu-control span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0;
    transition-delay: 0.3s, 0;
}
.menu-control span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
}
.menu-control span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
}
.menu-control:focus {
    outline: none;
}
.menu-control.active span {
    background: none;
}
.menu-control.active span::before {
    top: 11px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}
.menu-control.active span::after {
    bottom: -11px;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}
.menu-control.active span::before,
.menu-control.active span::after{
    -webkit-transition-delay: 0, 0.3s;
    transition-delay: 0, 0.3s;
}

.header-controls{
    display: none;
}

@media all and (min-width: 1099px){

    .header{
        height: 100px;
    }

    .logo{
        width: 250px;
        margin-left: 5%;
    }

    .header-controls{
        display: flex;
        position: relative;
        margin-right: 5%;
        justify-content: space-between;
        -webkit-transition-delay: 0, 0.3s;
        transition-delay: 0, 0.3s;
    }
    .header-languages{
        display: none;
        position: absolute;
        top: 100px;
        padding-top: 20px;
        height:74px;
        right: 0;
        flex-direction: column;
        background-color: #000;
        width: 100px;
        z-index: 1;
        margin-bottom: 0;
    }

    .header-languages li a span{
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
    }

    .header-languages a.active-lang{
        display: none;
    }

    .header-languages li a{
        display: block;
        text-decoration: none;
        text-align: center;
    }

    .header-lang-btn{
        display: flex;
        height: 100px;
        width: 100px;
        align-items: center;
        justify-content: center;
        background-color: #000;
        clear: both;
        padding: 0;
        margin: 0;
        z-index: 2;
        cursor: pointer;
        /*font-family: 'Helvetica Neue Cyr Bold';*/
        font-family: 'Jaldi', sans-serif;
        font-weight: 700;
    }

    .lang-icon{
        margin-left: 10px;
    }

    .current-lang{
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
    }

    
    .active-nav-item {
        border-bottom: 4px #e30808 solid;
    }

    .lang-icon{
        font-size: 0;
        height: 17px;
        width: 17px;
        background: url('../img/earth-icon.png') center center no-repeat;
        background-size: cover;
    }

    .menu-control{
        display: none;
    }

    .header-controls-title{
        display:none;
    }

    .header-navigation a{
        padding-bottom: 7px;
    }

    .header-navigation ul{
        margin: 0 10px 0 0;
    }
    .header-navigation li{
        display: inline-block;
        margin-top: 36px;
        margin-left: 10px;
    }
    .header-navigation li a {
        color: #000;
        text-decoration: none;
    }
}

@media all and (max-width: 1098px){
    .header-lang-btn{
        display: none;
    }
    .header-languages{
        display: block !important;
    }

    .header-controls{
        z-index: 99;
        display: none;
        position: fixed;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #313131;
        opacity: 0;
    }

    .header-controls-title{
        position: relative;
        /*font-family: 'Helvetica Neue Cyr Bold';*/
        font-family: 'Jaldi', sans-serif;
        font-size: 16px;
        color: #fff;
        font-weight: 700;
    }

    .header-navigation li{
        text-align: center;
        height: 45px;
    }

    .header-navigation a.active-nav-item{
        background: linear-gradient(90deg, #b0010b 50%, #b0010b 50%, #f8292d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #f8292d;
    }

    .header-navigation a{
        font-size: 18px;
        color: #777;
        line-height: 100px;
    }

    .header-navigation a:hover{
        text-decoration: none;
        color: #fff;
    }

    .header-languages li{
        text-align: center;
        display: inline-block;
        margin: 0 20px;
    }
    .header-languages a.active-lang{
        color: #fff;
    }

    .header-languages a{
        font-size: 18px;
        color: #777;
        text-align: center;
        font-weight: 800;
    }

    .header-languages a:hover{
        text-decoration: none;
        color: #777;
    }
}

.go-to-top{
    display: none;
    background-color: #000;
    position: fixed;
    top: 10px;
    width: 60px;
    height: 60px;
    z-index: 999;
    cursor: pointer;
    text-align: center;
}

.go-to-top img{
    margin-top: 22px;
    height: 15px;
}


@media all and (max-width: 1098px){
    .go-to-top{
        display: none !important;
    }

}

@media all and (max-width:680px){
   .logo img{
        width: 145px;
    }
    .header-container{
        height: 70px;
    }
    .header{
        height: 70px;
    }
}

/*
██████████████████████████████
█───██─██─██────███───██──█──█
██─███──█─██─██──██─█████───██
██─███─█──██─██──██───████─███
██─███─██─██─██──██─█████───██
█───██─██─██────███───██──█──█
██████████████████████████████
*/

.home-title {
    position: relative;
    width: 100%;
    height: 500px;
    margin:auto;
}

.home-title .cj-container {
    background-color: inherit;
    margin: auto;
}

.home-title-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
}

#js-background-renderer {
    height: 380px;
    width: 100%;
}

.home-title-content {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
}

.home-title-content .cj-container {
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    margin:auto;
}

.home-title h1 {
    height: 25%;
    width: 100%;
    font-family: 'Helvetica Neue Cyr Bold';
    z-index: 4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 50px;
    line-height: 60px;
    padding-left: 1%;
}

@media all and (min-width: 999px) {

    .home-title h1 {
        font-size: 55px;
        line-height: 56px;
        text-align: left;
        margin-top: 0%;
        padding-left: 5%;
    }

}

@media all and (min-width: 1500px) {
    .home-title h1 {
        font-size: 60px;
        line-height: 61px;
        text-align: center;
        margin-top: -4%;
        align-items: center;
        padding-left: 2%;
    }
}

.home-title h1 span {
    display: block;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    bottom: 15px;
    margin-top: -25px;
    margin-left: -20px;
    box-shadow: inset 0 0 0 1px #acafb1;
    border-radius: 25px;
    width: 24px;
    height: 39px;
    position: absolute;
    z-index: 5;
    cursor: pointer;
}

.icon-scroll:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #acafb1;
    margin-left: -2px;
    top: 6px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}

@media all and (max-device-width: 768px) {

    .icon-scroll {
        height: 62px;
        border-radius: 4px;
        width: 30px;
    }

    .icon-scroll:after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        margin: 1px auto 0 auto;
        border: 1px solid #acafb1;
        border-radius: 50%;
    }

    .icon-scroll-screen {
          position: relative;
        width: 26px;
        height: 43px;
        margin: 8px auto 0;
        border: 1px solid #acafb1;
    }

    .icon-scroll:before {
        top: 48px;
    }

    @-webkit-keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
        }
    }

    @keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
        }
    }

}

@media all and (max-width: 680px) {

    .home-title h1 {
        font-size: 27px;
        line-height: 30px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-title h1 span {
        text-align: center;
    }

    .icon-scroll {
        height: 62px;
        border-radius: 4px;
        width: 30px;
        margin-left: -12px;
    }

    .icon-scroll:after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        margin: 1px auto 0 auto;
        border: 1px solid #acafb1;
        border-radius: 50%;
    }

    .icon-scroll-screen {
        position: relative;
        width: 26px;
        height: 43px;
        margin: 8px auto 0;
        border: 1px solid #acafb1;
    }

    .icon-scroll:before {
        top: 33px;
    }

    @-webkit-keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
        }
    }

    @keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
        }
    }
}



.home-about-us .cj-container {
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin: auto;

}

.home-about-us .about-us-content {
    width: 100%;
}

.home-about-us .about-us-slider {
    width: 100%;
    padding-right: 5%;
}

.home-about-us {
    /*font-family: 'HELVETICAMEDIUM';*/
    font-weight: 500;
    font-size: 17px;
    text-align: justify;
}

.about-us-slider-prev img,
.about-us-slider-next img {
    height: 9px;
    width: 5px;
}

.about-us-slider-prev {
    width: 50%;
    display: block;
}

.about-us-slider-next {
    width: 50%;
    display: block;

}

.about-us-slider {
    position: relative;
}

.carousel-item {
    overflow: hidden;
}

.about-us-content {
    padding-top: 7%;
    padding-right: 5%;
}

.about-us-content p {
    font-size: 16px;
    line-height: 26px;
}

#mainSlider {
    height: 450px;
    overflow: hidden;
}

.slide-controls-box {
    display: flex;
    position: absolute;
    width: 120px;
    height: 60px;
    bottom: 0;
    right: 0;
    background-color: #FAFAFA;
    text-align: center;
    line-height: 60px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    visibility: hidden;
}

.home-about-us .cj-btn-container {
    padding-bottom: 30px;
}

.about-us-content .section-header {
    margin-bottom: 50px;
}

@media all and (min-width: 1026px) {

    .home-about-us .cj-container {
        display: flex;
        flex-direction: row;
    }

    .home-about-us .about-us-content {
        width: 50%;
        padding-right: 7%;
    }

    .home-about-us .about-us-slider {
        width: 50%;
        padding-right: 0;
    }

}

@media all and (max-width: 680px) {
    #mainSlider {
        height: auto;
        overflow: hidden;
    }

    .about-us-content .section-header {
        margin-bottom: 25px;
    }

    .home-about-us .cj-container {
        padding-bottom: 80px;
    }

    .home-about-us .cj-btn-container{
       margin-top: 30px; 
    }

    .about-us-content p{
        margin-bottom: 0px;
    }
}


.home-projects .cj-container {
    padding-bottom: 40px;
    display: block;
    padding-left: 5%;
    margin: auto;
}

.project-item {
    padding-bottom: 40px;
}

.project-item p {
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-size: 70px;
    line-height: 60px;
    margin-bottom: 0;
    text-align: center;
}

.partner-number-description {
    font-size: 25px;
    padding-left: 5px;
    display: block;
}

.project-items {
    width: 100%;
}

p.partners-number-medium {
    font-size: 50px;
    line-height: 50px;
}

.achievements-row {
    margin: 0 auto 50px;
}

@media all and (min-width: 720px) {

    .home-projects .section-header {
        margin-bottom: 60px;
    }

    .home-projects .cj-btn {
        margin-top: 60px;
    }

}

@media all and (max-width: 1025px) {
    .project-item-middle {
        border-left: 1px #e1dede solid;
        border-right: 1px #e1dede solid;
    }
}

@media all and (min-width: 1026px) {

    .home-projects .cj-container {
        padding-bottom: 180px;
    }

    .project-item p {
        /*font-family: 'Helvetica Neue Cyr Bold';*/
        font-size: 100px;
        height: 120px;
        line-height: 70px;
        text-align: center;
    }

    p.partners-number-medium {
        font-size: 80px;
        line-height: 70px;
    }

    .partner-number-description {
        font-size: 38px;
    }

    .project-item {
        display: flex;
        flex-direction: column;
        border-top: none;
        padding-bottom: 50px;
    }

    .project-item-middle {
        border-left: 1px #e1dede solid;
        border-right: 1px #e1dede solid;
    }
}

.success-ico-color {
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    background: linear-gradient(90deg, #b0010b 50%, #b0010b 50%, #f8292d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f8292d;
}

.project-item h3 {
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-size: 17px;
    line-height: 80px;
    margin-bottom: 0;
    text-align: center;
}

@media all and (max-width: 680px) {

    .project-item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        padding-top: 15px;
        border-top: #e1dede solid 1px;
        width: 100%;
    }

    .home-projects .cj-container{
       padding-bottom: 30px;
    }

    .home-projects .cj-btn-container{
       margin-top: 30px; 
    }

    .project-item p {
        display: inline-block;
        /*font-family: sans-serif;*/
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 0;
        text-align: center;
        font-weight:100;
    }


    .project-items {
        width: 100%;
        margin-left: 0;
    }

    .project-item h3 {
        font-size: 17px;
        line-height: 25px;
        text-align: center;
        height: 25px;
        margin-bottom: 0;
    }

    .project-item-middle {
        border-left: none;
        border-right: none;
    }

    .partners-number-medium {
        font-size: 25px;
        height: 25px;
    }

    .partners-number-medium span {
        display: inline-block;
        font-size: 19px;
        height: 25px;
        /*font-family: sans-serif;*/
        font-weight: 100;
    }

    .project-item-last {
        border-bottom: #e1dede solid 1px;
    }

}


.home-news .cj-container {
    padding-bottom: 40px;
    padding-left: 5%;
    margin: auto;
}

@media all and (min-width: 720px) {

    .home-news .section-header {
        margin-bottom: 60px;
    }
}

@media all and (min-width: 1025px) {

    .home-news .cj-container {
        padding-bottom: 180px;
    }
}

.news-item {
    display: flex;
    flex-direction: column;
    border-bottom: #e1dede solid 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
     /*font-family: 'Helvetica Neue Cyr Bold';*/
}

.news-item-header {
    display: flex;
    justify-content: center;
}

.news-category-label {
    height: 36px;
    width: 40%;
}

.news-category-label span {
    display: inline-block;
    width: 100px;
    color: #fff;
    padding: 5px 7px;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    border-radius: 25px;
    font-size: 13px;
    text-align: center;
}

.news-date {
    height: 36px;
    line-height: 29px;
    text-align: start;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-size: 15px;
    width: 60%;
}

.news-title {
    font-size: 17px;
    line-height: 36px;
    padding: 0;
    margin-bottom: 0;
}

@media all and (min-width: 720px) {

    .news-items {
        width: 93%;
        margin-right: 7%;
        padding-bottom: 60px;
    }

    .news-item {
        flex-direction: row;

    }

    .news-item-header {
        width: 45%;
        align-items: center;
    }

    .news-category-label {
        width: 50%;
        justify-content: start;
    }

    .news-category-label, .news-title, .news-date {

        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .news-category-label span {
        font-size: 13px;
    }

    .news-title {
        justify-content: start;
    }

    .news-item-body {
        width: 55%;
    }

}

@media all and (max-width: 680px) {
    .news-item {
        padding-bottom: 10px;
    }

    .home-news .cj-container {
        padding-bottom: 30px;
    }

    .home-news .cj-btn-container {
        margin-top: 30px;
    }
}


.home-partners .cj-container {
    padding-bottom: 60px;
    padding-left: 0;
    margin:auto;
}

.home-partners .section-header {
    margin-left: 5%;
}

@media all and (min-width: 720px) {

    .home-partners .section-header {
        margin-left: 5%;
        margin-bottom: 60px;
    }

}

@media all and (min-width: 1025px) {

    .home-partners .cj-container {
        padding-bottom: 180px;
    }

}

.partners-next-container,
.partners-prev-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners-next,
.partners-prev {
    width: 51px;
    height: 107px;
    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    cursor: pointer;
}

.partners-prev {
    background: url("../img/partners-prev.png");
    opacity: 0.1;
}

.partners-prev:hover {
    background: url("../img/partners-prev.png");
    opacity: 0.4;
}

.partners-next {
    background: url("../img/partners-next.png");
    opacity: 0.1;
}

.partners-next:hover {
    background: url("../img/partners-next.png");
    opacity: 0.5;
}


.partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;

}

.partner-item img {
    display: inline-block;
    width: 170px !important;
}

@media all and (min-width: 1025px) {
    .partners-next-container,
    .partners-prev-container {
        width: 5%;
    }

    .partners-next-container img,
    .partners-prev-container img {
        width: 50px;
        cursor: pointer;
    }

    .partner-item {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: auto;
        padding: 30px 20px;
        height: 190px;
    }

    .partner-item img {
        width: 225px !important;
        text-align: center;
    }
}

@media all and (max-width: 680px) {
    .partners-next-container,
    .partners-prev-container{
        display: none;
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }
    .owl-dot{
        background-color: #999 !important;
        width: 10px;
        height: 10px;
        margin: 0 7px;
        border-radius: 30px;
    }

    .owl-dot:focus {
        outline:0;
    }


    button.owl-dot.active{
        background-color: #222 !important;
    }
}

/*
█████████████████████████████████████████████
█────██────██────████──██───██────██───██───█
█─██─██─██─██─██─█████─██─████─██─███─███─███
█────██────██─██─█████─██───██─██████─███───█
█─█████─█─███─██─██─██─██─████─██─███─█████─█
█─█████─█─███────██────██───██────███─███───█
█████████████████████████████████████████████
*/

.projects-in-numbers .cj-container {
    padding: 100px 0 70px;
    margin: auto;
}

.projects-in-numbers .section-header {
    margin: 0 5% 60px;
}


.projects-partners .cj-container {
    padding: 0 0 100px;
    margin:auto;
}
.projects-partners {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-partners .section-header {
    margin-bottom: 60px;
    margin-left: 5%;
}

.client-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.clients-reviews {
    position: relative;
    z-index: 1;
}

.clients-reviews .cj-container{
    margin: auto;
    background: #fff;
    padding: 0 0 70px;
    z-index: 1;
}

.clients-reviews .section-header {
    margin-bottom: 60px;
    margin-left: 5%;
}

.review-item {
    padding: 0 10%;
}

.owl-carousel {
    display: block;
}

.client-review {

    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    text-align: center;
    font-weight: 100;
    padding: 0;
}

.client-info {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 30px 5%;
    font-size: 22px;
    line-height: 28px;
}

.client-photo-wrapper {
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
}

.client-photo-wrapper img {
    width: 100%;
    border-radius: 50%;
}

.client-name, 
.client-position {
    text-align: center;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-size: 18px;
    line-height: 22px;
}

.client-position {
    color: #0da0e3;
    font-size: 16px;
}


.projects-partners-end {
    text-align: center;
    width: 100%;
    margin-top: 60px;
}




/*
█████████████████████████████████████████████
█────██────██─██─██───██────██────██───██───█
█─██─██─██─██──█─███─███─██─██─██─███─███─███
█─█████─██─██─█──███─███────██─██████─███───█
█─██─██─██─██─██─███─███─██─██─██─███─█████─█
█────██────██─██─███─███─██─██────███─███───█
█████████████████████████████████████████████
*/

.addresses-container .cj-container {
    margin: auto;
    padding: 100px 0 0;
}

.contact-form-padding {
    padding: 0 5%;
}


.addresses-wrapper {
    padding: 0 5% 60px ;
}

.addresses .address-item {
    padding: 0 0 0;
    font-size: 20px;
}

.address-item p {
    padding: 5px 0;
    font-size: 16px;
}

.address-item .address-line {
    padding-bottom: 15px;
    cursor: pointer;
}

.address-item .address-line:hover {
    text-decoration: underline;
}

.map-wrapper {
    padding: 0 5% 0;
    height: 400px;
}

.contacts-map {
    width: 100%;
    height:400px;
}

.contact-form .cj-container {
    padding: 100px  0 110px;
    margin: auto;
}

.contact-form .section-header {
    margin: 0 5% 60px;
}

.contact-form-side-img-wrapper img {
    width: 100%;
}

.contact-form-side-img-wrapper {
    padding-left: 5%;
}

.contact-form-wrapper {
    padding: 0 10% 0;
}

.cj-form-group {
    padding: 0 0 5px;
    border-bottom: 2px solid #d9d9d9;
    margin: 0 auto 30px;
    position: relative;
}

.cj-form-group.cj-form-text-area-wrapper {
    margin-bottom: 24px;
}

.cj-form-label {
    display: block;
    font-size: 15px;
    color: #999;
    margin-bottom: -12px;
}

.contact-form-inputs:nth-child(1) {
    padding-right: 5%;
}

.contact-form-inputs:nth-child(2) {
    padding-left: 5%;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: rgba(176, 0, 11, 1);
    background: -moz-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -o-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -ms-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: linear-gradient(to right, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(176, 0, 11, 1)), color-stop(100%, rgba(246, 41, 12, 1)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0000b', endColorstr='#f6290c', GradientType=1);

}

.contact-form-input:focus + .focus-input:before {
    width: 100%;
}

.contact-form-textarea:focus + .focus-input:before {
    width: 100%;
}


.contact-form-input,
.contact-form-textarea {
    display: block;
    /*font-family: 'Helvetica Neue Cyr Bold';*/
    font-size: 18px;
    line-height: 40px;
    border:none;
    height: 40px;
    width: 100%;
    margin: 0;
}

.contact-form-textarea {
    height: 110px;
    cursor: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0;
}

.contact-form-input:focus,
.contact-form-textarea:focus {
    outline: none;
}

.contact-form .cj-btn-container {
    justify-content: flex-end;
}

button.cj-btn{
    border: none;
    cursor: pointer;
    padding: 0;
}

button.cj-btn:focus {
    outline: none;
}

.form-side-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-side-img img {
    width: 60%;
}


/*
█████████████████████████████
█────██────███────██─█─██───█
█─██─██─██──██─██─██─█─███─██
█────██────███─██─██─█─███─██
█─██─██─██──██─██─██─█─███─██
█─██─██────███────██───███─██
█████████████████████████████
*/

.about-description .cj-container {
    height: inherit;
    padding-top: 100px;
    padding-bottom: 60px;
    margin:auto;
}

.about-description img {
    width: 100%;
    margin-bottom: 60px;
}

.about-description-main-text {
    padding-bottom: 40px;
}


.about-description-main-text p {
    padding: 0 8%;
    text-align: center;
}

.about-description-main-text h2,
.about-description-main-text p {
    text-align: center;
}

.about-description article {
    margin-right: 20px;
    text-align: justify;
    font-size: 17px;
    /*font-family: 'HELVETICAMEDIUM';*/
}

.about-description article h2.section-header {
    padding-bottom: 20px;
}

.about-description article {
    line-height: 26px;
    font-size: 16px;
}

.about-description-text p {
    text-align: left;
}

.about-description-options {
    padding: 0 calc(5% + 20px);
}

.about-team .cj-container {
    padding-left: 0;
    padding: 0 0 10px;
    margin:auto;
}

.about-team .section-header {
    margin: 0 calc(5% + 20px) 40px;
}

.team-members {
    overflow: hidden;
    padding: 0 5% 0;
}

.team-member {
    padding: 0 20px 60px;
    cursor: pointer;
}

.team-member-photo {
    background: rgba(176, 0, 11, 1);
    background: -moz-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -o-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -ms-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: linear-gradient(to right, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(176, 0, 11, 1)), color-stop(100%, rgba(246, 41, 12, 1)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0000b', endColorstr='#f6290c', GradientType=1);
}

.team-member-photo img {
    width: 100%;
}

.team-member:hover .member-name {
    text-decoration: underline;
}

.member-name {
    width: 100%;
    margin: 20px auto 3px;
    font-size: 22px;
    /*font-family: 'HELVETICAMEDIUM', sans-serif;*/
}

.member-position {
    width: 100%;
    margin: 0 auto 30px;
    font-size: 18px;
    color: #999;
    /*font-family: 'HELVETICAMEDIUM', sans-serif;*/
}

.team-member-photo {
    position: relative;
}

.team-member-photo article {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    height: inherit;
    width: inherit;
    background-color: #000;
    color: #fff;
    /*font-family: 'HELVETICAMEDIUM', sans-serif;*/
    font-size: 14px;
    line-height: 20px;
    padding: 5%;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/*
██████████████████████████████████████████
█───██───██────██─█─██───██────██───██───█
█─████─████─██─██─█─███─███─██─██─████─███
█───██───██────██─█─███─███─█████───██───█
███─██─████─█─███───███─███─██─██─██████─█
█───██───██─█─████─███───██────██───██───█
██████████████████████████████████████████
*/

.services-description .cj-container{
    margin:auto;
    padding: 100px 15% 0;
    /*font-family: 'HELVETICAMEDIUM';*/

}


.services-description-text {
    overflow: hidden;
    line-height: 26px;
    text-align: left;
    padding-right: 100px;
}

.services-description-list {
    float: right;
    margin: 8px -100px 0 20px;
    padding: 5px;
    width: 50%;
    font-size: 20px;
}

.services-description-list hr {
    width: 70%;
    margin: 0;
    padding: 0;
    background: #000;
}

.services-description-list p {
    padding: 10px 0;
}

.services-description-list ol {
    list-style: decimal;
    padding-left: 20px;
    font-size: 17px;
}

.services-steps .cj-container {
    margin:auto;
    padding: 100px 0 0;
    background-color: #fff;
    /*font-family: 'HELVETICAMEDIUM';*/
}

.services-moto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 26px;
    padding: 0 10%;
}

.services-moto hr {
    display: block;
    width: 15%;
    margin: auto;
    background-color: #000;
    padding: 0;
    margin: 0;
}

.services-moto p {
    text-align: center;
    padding: 20px 15%;
    line-height: 24px;
    font-size: 16px;
    color: #000;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    /*font-family: sans-serif;*/
}

.services-steps .steps-img img{
    width: 100%;
}

/*
███████████████████████████████████████████████████████████████████████████
█────██───██─██─██───██────███████───██───██────██─█─██───██────██───██───█
█─██─███─███─██─██─████─██─███████─████─████─██─██─█─███─███─██─██─████─███
█────███─███────██───██────██───██───██───██────██─█─███─███─█████───██───█
█─██─███─███─██─██─████─█─██████████─██─████─█─███───███─███─██─██─██████─█
█─██─███─███─██─██───██─█─████████───██───██─█─████─███───██────██───██───█
███████████████████████████████████████████████████████████████████████████
*/

.ather-services .cj-container {
    margin: auto;
    padding: 100px 5% 70px;
    /*font-family: 'HELVETICAMEDIUM';*/
}

.ather-services .section-header {
    margin: 0 0 60px;
}

.ather-services-wrapper {
    height: inherit;
    padding: 0 10%;
}

.service-container {
    height: inherit;
    margin-bottom: 40px;
    padding: 0 10px;
}

.sevice-wrapper {
    position: relative;
    height: 100%;
    margin: 0 20px ;
    padding: 10px 20px 40px;
    border: 1px #ccc solid;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: rgba(252, 252, 252, 1);
}

.sevice-wrapper-overlay {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.sevice-wrapper:hover {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgba(241, 244, 246, 1);
}

.sevice-wrapper {
    /*font-family: 'HELVETICAMEDIUM';*/
    line-height: 20px;
    color: #444;
}

.sevice-wrapper h2 {
    font-size: 20px;
    line-height: 20px;
    padding: 20px 0;
    text-align: center;
    color: rgba(101, 133, 152, 1);
}

.sevice-wrapper:hover h2 {
    color: rgba(227, 8, 8, 1);
}

.sevice-wrapper p {
    text-align: center;
    /*font-family: sans-serif;*/
    color: #444;
    line-height: 24px;
    font-size: 15px;
    width: 70%;
    margin: auto;
}

.sevice-wrapper ol {
    display: block;
    width: 70%;
    list-style: disc;
    margin: auto;
}

.sevice-wrapper ol li {
    /*font-family: sans-serif;*/
    color: #444;
    line-height: 24px;
    font-size: 15px;
}









/*
========================================================================================================================
*/

.partners-page-description .cj-container {
    margin: auto;
    padding: 100px 0;
}

.partners-page-description-wrapper {
    padding: 0 5%;
    line-height: 26px;
    text-align: center;
}

.partners-page-picture-separator .cj-container {
    margin: auto;
}

.partners-page-picture-separator img {
    width: 100%;
}

.partners-page-partners .cj-container {
    margin: auto;
    padding: 100px 0;
}
.partners-page-partners .section-header {
    margin: 0 5%;
}

.partners-list-wrapper {
    padding: 60px 5% 0;
}

.partners-list-item {
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 40px 0;
}

.partners-page-wanted .cj-container {
    margin: auto;
    padding: 0px 0 100px;
}

.partners-page-wanted .section-header {
    margin: 0 5%;
}

.partners-page-wanted-text-wrapper {
    padding: 60px 5% 0;
}



/*
========================================================================================================================
*/

.career-page-about .cj-container {
    margin: auto;
    padding: 100px 0 0;
}

.career-page-about .section-header {
    margin: 0 5%;
}

.career-page-about-wrapper {
    padding: 60px 0 0 5%;
}

.career-page-about-wrapper img {
    width: 100%;
}

.career-page-positions .cj-container {
    margin: auto;
    padding: 100px 0;
}

.career-page-positions .section-header {
    margin: 0 5%;
}

.position-item {
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #444;
}

.positions-wrapper {
    padding: 40px 5% 0;
}

.position-title h3 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}

.position-location,
.position-date,
.position-department {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}

.career-page-core-values .cj-container {
    margin: auto;
    padding: 0 0 100px;
}

.career-page-core-values .section-header {
    margin: 0 5%;
}

.core-value-item {
    padding-top: 60px;
}

.core-value-title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 45px;
}

.core-value-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.core-value-image img {
    width: auto;
}

.career-page-culture .cj-container {
    margin: auto;
    padding: 100px 0; 
}

.career-page-culture .section-header {
    margin: 0 5%;
}

.culture-description-wrapper {
    padding: 60px 5%; 
}