/*
███████████████████████████████████████████████████████████████████
█────██─█─██────███████────██────██─██─██───██────██────██───██───█
█─██─██─█─██─██─███████─██─██─██─██──█─███─███─██─██─██─███─███─███
█─██─██─█─██────██───██─█████─██─██─█──███─███────██─██████─███───█
█─██─██─█─██─█─████████─██─██─██─██─██─███─███─██─██─██─███─█████─█
█────██───██─█─████████────██────██─██─███─███─██─██────███─███───█
███████████████████████████████████████████████████████████████████
*/

.addresses-container .cj-container {
	margin: auto;
	padding: 100px 0 0;
}

.addresses-container .section-header {
	margin: 0 5% 60px;
}

.addresses-wrapper {
	padding: 0 5% 0;
}


.addresses .address-item {
	padding: 50px 10% 0;
	font-size: 20px;
}

.map-point {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.address-item hr {
	display: block;
    margin: 10px auto;
    background-color: #000;
}

.address-item h3 {
	position: relative;
	font-size: 18px;
	font-weight: 600;
	padding: 15px 0;
}

.address-item p {
	padding: 5px 0;
	font-size: 14px;
}

.contacts-map {
	width: 100%;
	height: 600px;
}


/*
█████████████████████████████████████████████████████████████████████
█────██────██─██─██───██────██────██───███████───██────██────██─███──█
█─██─██─██─██──█─███─███─██─██─██─███─████████─████─██─██─██─██──█───█
█─█████─██─██─█──███─███────██─██████─███───██───██─██─██────██─█─█──█
█─██─██─██─██─██─███─███─██─██─██─███─████████─████─██─██─█─███─███──█
█────██────██─██─███─███─██─██────███─████████─████────██─█─███─███──█
█████████████████████████████████████████████████████████████████████
*/

.contact-form .cj-container {
	padding: 100px  0 110px;
	margin: auto;
}

.contact-form .section-header {
	margin: 0 5% 60px;
}

.form-content-wrapper {
	padding: 0 5% 0;

}

.form-content-wrapper img {
	width: 100%;
}

.contact-form-wrapper {
	padding: 50px 10%;
}

.contact-form-input,
.contact-form-textarea {
	display: block;
}

.contact-form-input,
.contact-form-textarea {
	font-family: 'Helvetica Neue Cyr Bold';
	font-size: 16px;
	line-height: 27px;
}

.contact-form-input {
	width: 100%;
	border-top:0;
	border-right:0;
	border-left:0;
	border-bottom: 1px solid #000;
	margin: 0 0 30px;
}

.contact-form-input:focus,
.contact-form-textarea:focus {
	outline: none;
}

.contact-form-textarea {
	border:1px solid #000;
	border-radius: 10px;
	width: 100%;
	height: 90px;
	resize: none;
	padding: 10px 10px;
}

.contact-form .cj-btn-container {
	justify-content: flex-end;
}

button.cj-btn{
	border: none;
	cursor: pointer;
}

button.cj-btn:focus {
	outline: none;
}




