.footer{
    background-color: #000;
}
.footer-container{
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-connect-us{
    display: inline-block;
    margin-top: 15px;
    font-size: 33px;
    color: #fff;
    opacity: 0.5;
    font-family: 'Helvetica Neue Cyr Bold';
}

@media all and (min-width: 1400px){
    .footer-container {
        width: 1400px;
        margin:auto;
    }
}
.copyright{
    font-size: 16px;
    margin-bottom: 15px;
    color:#fff;
    text-align: center;
    opacity: 0.1;
}
.social-links{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top:15px;
    padding-bottom: 15px;
}
.social-links a{
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    width: 33px;
    height: 33px;
}

.twitter-icon{
    background: #000 url('../img/twitter-active.png') 100% 100%;
    opacity: .4;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.twitter-icon:hover{
    background: url('../img/twitter-active.png') 100% 100%;
    opacity: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.telegram-icon{
  background: #000 url('../img/telegram-active.png') 100% 100%;
  opacity: .4;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.telegram-icon:hover{
    background: url('../img/telegram-active.png') 100% 100%;
    opacity: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.fb-icon{
  background: #000 url('../img/facebook-active.png') 100% 100%;
  opacity: .4;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

}
.fb-icon:hover{
    background: url('../img/facebook-active.png') 100% 100%;
    opacity: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.youtube-icon{
  background: #000 url('../img/youtube-active.png') 100% 100%;
  opacity: .4;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.youtube-icon:hover{
    background: url('../img/youtube-active.png') 100% 100%;
    opacity: 1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

@media all and (max-width: 999px){

    .footer-connect-us{
        display: none;
    }
}