.footer{
    background-color: #000;
}
.footer-container{
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media all and (min-width: 1400px){
    .footer-container {
        width: 1400px;
        margin:auto;
    }
}
.copyright{
    font-size: 16px;
    color:#fff;
    text-align: center;
}
.social-links{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top:15px;
    padding-bottom: 15px;
    width: 240px;
}
.social-links a{
    display: inline-block;
    width:25%;
}
.social-links a img{
    width:30px;
}
@media all and (min-width: 999px){
    .social-links a{
        display: inline-block;
        width:60px;
    }
}