



/*
============================================
████──███─███─████─█─█─█───███
█──██─█───█───█──█─█─█─█────█
█──██─███─███─████─█─█─█────█
█──██─█───█───█──█─█─█─█────█
████──███─█───█──█─███─███──█
============================================
*/

.cj-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cj-btn {
    margin: 30px 0;
}

.cj-btn span {
    display: block;
    width: 182px;
    height: 52px;

    color: #000;
    background-color: #fff;
    border-radius: 35px;
    text-align: center;
    line-height: 52px;
    font-size: 17px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 700;
    font-family: 'Helvetica Neue Cyr Bold';
}

.cj-btn:hover {
    text-decoration: none;
}

.cj-btn span:hover {
    background-color: transparent;
    color: #fff;
}

.cj-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 190px;
    height: 60px;
    border-radius: 35px;
    background: rgba(176, 0, 11, 1);
    background: -moz-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -o-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -ms-linear-gradient(left, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: linear-gradient(to right, rgba(176, 0, 11, 1) 0%, rgba(246, 41, 12, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(176, 0, 11, 1)), color-stop(100%, rgba(246, 41, 12, 1)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0000b', endColorstr='#f6290c', GradientType=1);
}



/*
============================================
███──███──███──█────███
─█────█────█───█────█
─█────█────█───█────███
─█────█────█───█────█
─█───███───█───███──███
============================================
*/

.home-title {
    position: relative;
    width: 100%;
    height: 500px;
    margin:auto;
}

.home-title .cj-container {
    background-color: inherit;
    margin: auto;
}

.home-title-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
}

#js-background-renderer {
    height: 380px;
    width: 100%;
}

.home-title-content {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
}

.home-title-content .cj-container {
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    margin:auto;
}

.home-title h1 {
    height: 25%;
    width: 100%;
    font-family: 'Helvetica Neue Cyr Bold';
    z-index: 4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 50px;
    line-height: 60px;
    padding-left: 1%;
}

@media all and (min-width: 999px) {

    .home-title h1 {
        font-size: 55px;
        line-height: 56px;
        text-align: left;
        margin-top: 0%;
    }

}

@media all and (min-width: 1500px) {
    .home-title h1 {
        font-size: 60px;
        line-height: 61px;
        text-align: center;
        margin-top: -4%;
        align-items: center;
        padding-left: 2%;
    }
}

.home-title h1 span {
    display: block;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    bottom: 5%;
    margin-top: -25px;
    margin-left: -20px;
    box-shadow: inset 0 0 0 1px #acafb1;
    border-radius: 25px;
    width: 24px;
    height: 39px;
    position: absolute;
    z-index: 5;
    cursor: pointer;
}

.icon-scroll:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #acafb1;
    margin-left: -2px;
    top: 6px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}

@media all and (max-device-width: 768px) {

    .icon-scroll {
        height: 62px;
        border-radius: 4px;
        width: 30px;
    }

    .icon-scroll:after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        margin: 1px auto 0 auto;
        border: 1px solid #acafb1;
        border-radius: 50%;
    }

    .icon-scroll-screen {
          position: relative;
        width: 26px;
        height: 43px;
        margin: 8px auto 0;
        border: 1px solid #acafb1;
    }

    .icon-scroll:before {
        top: 48px;
    }

    @-webkit-keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
        }
    }

    @keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
        }
    }

}

@media all and (max-width: 680px) {

    .home-title h1 {
        font-size: 27px;
        line-height: 30px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-title h1 span {
        text-align: center;
    }

    .icon-scroll {
        height: 62px;
        border-radius: 4px;
        width: 30px;
        margin-left: -12px;
    }

    .icon-scroll:after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        margin: 1px auto 0 auto;
        border: 1px solid #acafb1;
        border-radius: 50%;
    }

    .icon-scroll-screen {
        position: relative;
        width: 26px;
        height: 43px;
        margin: 8px auto 0;
        border: 1px solid #acafb1;
    }

    .icon-scroll:before {
        top: 33px;
    }

    @-webkit-keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
        }
    }

    @keyframes scroll {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            -webkit-transform: translateY(-23px);
            transform: translateY(-23px);
        }
    }
}

/*
============================================
████──████───████──█─█──███
█──█──█──██──█──█──█─█───█
████──████───█──█──█─█───█
█──█──█──██──█──█──█─█───█
█──█──████───████──███───█
============================================
*/

.home-about-us .cj-container {
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin: auto;

}

.home-about-us .about-us-content {
    width: 100%;
}

.home-about-us .about-us-slider {
    width: 100%;
    padding-right: 5%;
}

.home-about-us {
    font-family: 'HELVETICAMEDIUM';
    font-weight: 500;
    font-size: 17px;
    text-align: justify;
}

.about-us-slider-prev img,
.about-us-slider-next img {
    height: 9px;
    width: 5px;
}

.about-us-slider-prev {
    width: 50%;
    display: block;
}

.about-us-slider-next {
    width: 50%;
    display: block;

}

.about-us-slider {
    position: relative;
}

.carousel-item {
    overflow: hidden;
}

.about-us-content {
    padding-top: 7%;
    padding-right: 5%;
}

.about-us-content p {
    font-size: 16px;
    line-height: 26px;
}

#mainSlider {
    height: 450px;
    overflow: hidden;
}

.slide-controls-box {
    display: flex;
    position: absolute;
    width: 120px;
    height: 60px;
    bottom: 0;
    right: 0;
    background-color: #FAFAFA;
    text-align: center;
    line-height: 60px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    visibility: hidden;
}

.home-about-us .cj-btn-container {
    padding-bottom: 30px;
}

.about-us-content .section-header {
    margin-bottom: 50px;
}

@media all and (min-width: 1026px) {

    .home-about-us .cj-container {
        display: flex;
        flex-direction: row;
    }

    .home-about-us .about-us-content {
        width: 50%;
        padding-right: 7%;
    }

    .home-about-us .about-us-slider {
        width: 50%;
        padding-right: 0;
    }

}

@media all and (max-width: 680px) {
    #mainSlider {
        height: auto;
        overflow: hidden;
    }

    .about-us-content .section-header {
        margin-bottom: 25px;
    }

    .home-about-us .cj-container {
        padding-bottom: 80px;
    }

    .home-about-us .cj-btn-container{
       margin-top: 30px; 
    }

    .about-us-content p{
        margin-bottom: 0px;
    }
}

/*
============================================
████──████──█──█──███──███──█─█──███──█───██─███──█──█──███──███
█──█──█──█──█──█───█───█────█─█──█────██─███─█────██─█───█───█
████──█─────████───█───███──█─█──███──█─█─██─███──█─██───█───███
█──█──█──█──█──█───█───█────███──█────█───██─█────█──█───█─────█
█──█──████──█──█──███──███───█───███──█───██─███──█──█───█───███
============================================
*/

.home-projects .cj-container {
    padding-bottom: 40px;
    display: block;
    padding-left: 5%;
    margin: auto;
}

.project-item {
    padding-bottom: 40px;
}

.project-item p {
    font-family: 'Helvetica Neue Cyr Bold';
    font-size: 70px;
    line-height: 60px;
    margin-bottom: 0;
    text-align: center;
}

.partner-number-description {
    font-size: 25px;
    padding-left: 5px;
    display: block;
}

.project-items {
    width: 90%;
    padding-left: 1%;
}

p.partners-number-medium {
    font-size: 50px;
    line-height: 50px;
}

@media all and (min-width: 720px) {

    .home-projects .section-header {
        margin-bottom: 60px;
    }

    .home-projects .cj-btn {
        margin-top: 60px;
    }

}

@media all and (max-width: 1025px) {
    .project-item-middle {
        border-left: 1px #e1dede solid;
        border-right: 1px #e1dede solid;
    }
}

@media all and (min-width: 1026px) {

    .home-projects .cj-container {
        padding-bottom: 180px;
    }

    .project-item p {
        font-family: 'Helvetica Neue Cyr Bold';
        font-size: 100px;
        height: 120px;
        line-height: 70px;
        text-align: center;
    }

    p.partners-number-medium {
        font-size: 80px;
        line-height: 70px;
    }

    .partner-number-description {
        font-size: 38px;
    }

    .project-item {
        display: flex;
        flex-direction: column;
        border-top: none;
        padding-bottom: 50px;
    }

    .project-item-middle {
        border-left: 1px #e1dede solid;
        border-right: 1px #e1dede solid;
    }
}

.success-ico-color {
    font-family: 'Helvetica Neue Cyr Bold';
    background: linear-gradient(90deg, #b0010b 50%, #b0010b 50%, #f8292d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f8292d;
}

.project-item h3 {
    font-family: 'Helvetica Neue Cyr Bold';
    font-size: 17px;
    line-height: 80px;
    margin-bottom: 0;
    text-align: center;
}

@media all and (max-width: 680px) {

    .project-item {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        padding-top: 15px;
        border-top: #e1dede solid 1px;
        width: 100%;
    }

    .home-projects .cj-container{
       padding-bottom: 30px;
    }

    .home-projects .cj-btn-container{
       margin-top: 30px; 
    }

    .project-item p {
        display: inline-block;
        font-family: sans-serif;
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 0;
        text-align: center;
        font-weight:100;
    }

    .project-items .col-md-4 {
        padding: 0;
    }

    .project-items .row {
        margin-right: 0;
        margin-left: 0;
    }

    .project-items {
        width: 98%;
        margin-left: 0;
    }

    .project-item h3 {
        font-size: 17px;
        line-height: 25px;
        text-align: center;
        height: 25px;
        margin-bottom: 0;
    }

    .project-item-middle {
        border-left: none;
        border-right: none;
    }

    .partners-number-medium {
        font-size: 25px;
        height: 25px;
    }

    .partners-number-medium span {
        display: inline-block;
        font-size: 19px;
        height: 25px;
        font-family: sans-serif;
        font-weight: 100;
    }

    .project-item-last {
        border-bottom: #e1dede solid 1px;
    }

}

/*
============================================
█──█──███──█───█──███
██─█──█────█───█──█
█─██──███──█─█─█──███
█──█──█────█████────█
█──█──███───█─█───███
============================================
*/

.home-news .cj-container {
    padding-bottom: 40px;
    padding-left: 5%;
    margin: auto;
}

@media all and (min-width: 720px) {

    .home-news .section-header {
        margin-bottom: 60px;
    }
}

@media all and (min-width: 1025px) {

    .home-news .cj-container {
        padding-bottom: 180px;
    }
}

.news-item {
    display: flex;
    flex-direction: column;
    border-bottom: #e1dede solid 1px;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;
}

.news-item-header {
    display: flex;
    justify-content: center;
}

.news-category-label {
    height: 36px;
    width: 40%;
}

.news-category-label span {
    display: inline-block;
    width: 100px;
    color: #fff;
    padding: 5px 7px;
    font-family: 'Helvetica Neue Cyr Bold';
    border-radius: 25px;
    font-size: 13px;
    text-align: center;
}

.news-date {
    height: 36px;
    line-height: 29px;
    text-align: start;
    font-family: 'Helvetica Neue Cyr Bold';
    font-size: 13px;
    font-weight: 700;
    width: 60%;
}

.news-title {
    font-size: 15px;
    line-height: 36px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 0;
}

@media all and (min-width: 720px) {

    .news-items {
        width: 93%;
        margin-right: 7%;
        padding-bottom: 60px;
    }

    .news-item {
        flex-direction: row;

    }

    .news-item-header {
        width: 45%;
        align-items: center;
    }

    .news-category-label {
        width: 50%;
        justify-content: start;
    }

    .news-category-label, .news-title, .news-date {

        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .news-category-label span {
        font-size: 13px;
    }

    .news-title {
        justify-content: start;
    }

    .news-item-body {
        width: 55%;
    }

}

@media all and (max-width: 680px) {
    .news-item {
        padding-bottom: 10px;
    }

    .home-news .cj-container {
        padding-bottom: 30px;
    }

    .home-news .cj-btn-container {
        margin-top: 30px;
    }
}

/*
============================================
████──████──████──███──█──█──███──████──███
█──█──█──█──█──█───█───██─█──█────█──█──█
████──████──████───█───█─██──███──████──███
█─────█──█──█─█────█───█──█──█────█─█─────█
█─────█──█──█─█────█───█──█──███──█─█───███
============================================
*/

.home-partners .cj-container {
    padding-bottom: 60px;
    padding-left: 0;
    margin:auto;
}

.home-partners .section-header {
    margin-left: 5%;
}

@media all and (min-width: 720px) {

    .home-partners .section-header {
        margin-left: 5%;
        margin-bottom: 60px;
    }

}

@media all and (min-width: 1025px) {

    .home-partners .cj-container {
        padding-bottom: 180px;
    }

}

.partners-carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners-next-container,
.partners-prev-container {
    width: 10%;
}

.partners-next,
.partners-prev {
    width: 51px;
    height: 107px;
    background-repeat: no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    cursor: pointer;
}

.partners-prev {
    background: url("../img/partners-prev.png");
    opacity: 0.1;
}

.partners-prev:hover {
    background: url("../img/partners-prev.png");
    opacity: 0.4;
}

.partners-next {
    background: url("../img/partners-next.png");
    opacity: 0.1;
}

.partners-next:hover {
    background: url("../img/partners-next.png");
    opacity: 0.5;
}

.owl-carousel {
    width: 60%;
}

.partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;

}

.partner-item img {
    display: inline-block;
    width: 170px !important;
}

@media all and (min-width: 1025px) {
    .partners-next-container,
    .partners-prev-container {
        width: 5%;
    }

    .partners-next-container img,
    .partners-prev-container img {
        width: 50px;
        cursor: pointer;
    }

    .owl-carousel {
        width: 70%;
    }

    .partner-item {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: auto;
        padding: 30px 20px;
        height: 150px;
    }

    .partner-item img {
        width: 225px !important;
        text-align: center;
    }
}
@media all and (max-width: 680px) {
    .partners-next-container,
    .partners-prev-container{
        display: none;
    }

    .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }
    .owl-dot{
        background-color: #999 !important;
        width: 10px;
        height: 10px;
        margin: 0 7px;
        border-radius: 30px;
    }

    .owl-dot:focus {
        outline:0;
    }

    .owl-carousel {
        width: 90%;
    }

    button.owl-dot.active{
        background-color: #222 !important;
    }
}
