

/*
███████████████████████████████████████████████████████████████████████████████████████████████
█────██────██────████──██───██────██───██───███████────██────██────██───██─██─██───██────██───█
█─██─██─██─██─██─█████─██─████─██─███─███─█████████─██─██─██─██─██─███─███──█─██─████─██─██─███
█────██────██─██─█████─██───██─██████─███───██───██────██────██────███─███─█──██───██────██───█
█─█████─█─███─██─██─██─██─████─██─███─█████─███████─█████─██─██─█─████─███─██─██─████─█─█████─█
█─█████─█─███────██────██───██────███─███───███████─█████─██─██─█─████─███─██─██───██─█─███───█
███████████████████████████████████████████████████████████████████████████████████████████████
*/

.projects-partners .cj-container {
    padding: 0 5% 180px;
    margin: auto;
}

.projects-clients-slider-wraper {
    height: 100px;
    width: 100%;    
}
.slider-clients {

}



/*
████████████████████████████████████████████████████████████████████████████████████████
█────██────██────████──██───██────██───██───███████────██───██─█─██───██───██─███─██───█
█─██─██─██─██─██─█████─██─████─██─███─███─█████████─██─██─████─█─███─███─████─███─██─███
█────██────██─██─█████─██───██─██████─███───██───██────██───██─█─███─███───██─█─█─██───█
█─█████─█─███─██─██─██─██─████─██─███─█████─███████─█─███─████───███─███─████─────████─█
█─█████─█─███────██────██───██────███─███───███████─█─███───███─███───██───███─█─███───█
████████████████████████████████████████████████████████████████████████████████████████
*/
