

/*
██████████████████████████████████████████████████████████████
█────███───██───██────██────██───██────██───██───██────██─██─█
█─██──██─████─████─██─██─██─███─███─██─███─████─███─██─██──█─█
█─██──██───██───██─█████────███─███────███─████─███─██─██─█──█
█─██──██─██████─██─██─██─█─████─███─██████─████─███─██─██─██─█
█────███───██───██────██─█─███───██─██████─███───██────██─██─█
██████████████████████████████████████████████████████████████
*/

.services-description .cj-container{
    margin:auto;
    padding: 100px 20% 0;
    font-family: 'HELVETICAMEDIUM';
}

.services-description h2 {
	margin-bottom: 20px;
    font-size: 28px;
    height: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

.services-description-text {
	overflow: hidden;
	line-height: 26px;
	text-align: left;
}

.services-description-list {
	float: right;
	margin: 8px 20px 0;
	padding: 5px;
	border-top: 1px solid #000;
	width: 40%;
}

.services-description-list p {
	padding: 10px 0;
}

.services-description-list ol {
	list-style: decimal;
	padding-left: 20px;
}

/*
███████████████████████████████████████████████████████████████████████████
█────██───██─██─██───██────███████───██───██────██─█─██───██────██───██───█
█─██─███─███─██─██─████─██─███████─████─████─██─██─█─███─███─██─██─████─███
█────███─███────██───██────██───██───██───██────██─█─███─███─█████───██───█
█─██─███─███─██─██─████─█─██████████─██─████─█─███───███─███─██─██─██████─█
█─██─███─███─██─██───██─█─████████───██───██─█─████─███───██────██───██───█
███████████████████████████████████████████████████████████████████████████
*/

.ather-services .cj-container {
	margin: auto;
	padding: 100px 5% 0;
}

.ather-services-wrapper{
	height: inherit;
}

.service-container {
	height: inherit;
	margin-bottom: 40px;
}

.sevice-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0 20px;
	padding: 10px;
	border: 1px #ccc solid;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: rgba(241, 244, 246, 1);
}

.sevice-wrapper:hover {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.1);
}

.sevice-wrapper {
	font-family: 'HELVETICAMEDIUM';
	line-height: 20px;
	color: #444;
}

.sevice-wrapper h2 {
	font-size: 20px;
    line-height: 20px;
    padding: 20px 0;
}

.sevice-wrapper p {
	text-align: center;
	font-family: sans-serif;
	color: #444;
	font-weight: 100;
	line-height: 24px;
}

.sevice-wrapper ol {
	list-style: disc;
}

.sevice-wrapper ol li {
	font-family: sans-serif;
	color: #444;
	line-height: 30px;
}

/*
█████████████████████████████████████████████████████████
█────██────██─██─██────███───██───██───██────██─██─██───█
█─██─██─██─██──█─██─██──███─████─████─███─██─██──█─██─███
█─█████─██─██─█──██─██──███─████─████─███─██─██─█──██───█
█─██─██─██─██─██─██─██──███─████─████─███─██─██─██─████─█
█────██────██─██─██────███───███─███───██────██─██─██───█
█████████████████████████████████████████████████████████
*/

.services-conditions .cj-container { 
	margin:auto;
    padding: 100px 5% 0;
    font-family: 'HELVETICAMEDIUM';
}

.conditions-main-description p {
	line-height: 26px;
	text-align: center;
	padding: 0 8% 20px;
}